<template>
  <v-container class="container-fluid mt-3">
    <div class="mt-4" style="margin-top: 100px; color: red; text-align: center; ">
      <div class=""></div>
      <span class="icofont icofont-youtube-play icofont-2x"></span>
      <span style="font-size: 50px;text-align: center; "> {{ $t('MulitMedia')}}</span>

    </div>
    <BlogShow :url="servicegroup[$i18n.locale]" ></BlogShow>
  </v-container>
</template>

<script>
import BlogShowMaster from "~/components/view/BlogShowMaster";
import BlogShow from "~/components/view/BlogShow";
export default {
  name: "services",
  components: {BlogShow, BlogShowMaster},
  data(){
    return{
      servicegroup:{
        en:'youtube',
        fa:'BlogFa',
        ar:'aparat',
        tr:'youtubetr',
      },
    }
  },
  beforeMount() {


  }
}
</script>

<style scoped>

</style>
