<template>
<div>

  <nav class="navbar navbar-light   bj-first" dir="rtl">
    <ul class="bj-topnav">
      <li v-if="$i18n.locale=='en'">  <a  :href="'/'"  >
        <span class="icofont-home text-white"></span>
        <span v-text="$t('home')"></span>
      </a>
      </li>
      <li v-if="$i18n.locale!='en'">  <a  :href="'/'+$i18n.locale"  >
        <span class="icofont-home text-white"></span>
        <span v-text="$t('Home')"></span>
      </a>   </li>
      <li> <a  :href="'/'+$i18n.locale+'/services'"  v-text="$t('Services')"></a>   </li>
      <li> <a  :href="'/'+$i18n.locale+'/blog'"  v-text="$t('Blog')"></a>   </li>
      <li> <a :href="'/'+$i18n.locale+'/aboutus'" v-text="$t('AboutUs')"></a>   </li>
      <li> <a :href="'/'+$i18n.locale+'/price'" v-text="$t('pricelist')"></a>   </li>

      <li> <a :href="'/'+$i18n.locale+'/contactus'" v-text="$t('ContactUs')"></a>   </li>



    </ul>
    <b-col class="text-left p-2" v-if="setting!=null" >


      <ul class="mainmenu text-center">

        <li><a href="/" >  <img class="bi4" width="35" src="/lang/en.jpg"></a> </li>
        <li><a href="/fa" >   <img class="bi4" width="35" src="/lang/fa.jpg"></a> </li>
        <li><a href="/tr" >  <img class="bi4" width="35" src="/lang/tr.jpg"></a> </li>
        <li><a href="/ar" > <img class="bi4" width="35" src="/lang/ar.jpg"></a> </li>
      </ul>

    </b-col>
  </nav>
  <div>

  </div>






</div>
</template>

<script>
    export default {
        name: "headers",
      data(){
          return{
            active:false,
            setting:null,
            productgroup:null,
            productshow:null,
            menus:{
              0:{
                name:'terms',
                url:'/terms'
              },
              1:{
                name:'aboutberjis',
                url:'/aboutus'
              },
              2:{
                name:'blog',
                url:'/blog'
              },
              3:{
                name:'contactus',
                url:'/contactus'
              },
            }
          }
      },
      methods:{
        showitem(index){
          this.active=true;
          this.productshow=this.productgroup[index];
        },
        loadsetting(){
          let that=this;
          this.$axios.get(this.$url+'setting').then(function (res) {
            that.setting=res.data;
          });

        },
        loadproductgroup(){
          let that=this;
          this.$axios.get(this.$url+'pgroup',{
            params:{
              parent:0
            }
          }).then(function (res) {
            that.productgroup=res.data;
          })

        }
      },
      mounted() {
          this.loadsetting();
          this.loadproductgroup();
      }
    }
</script>

<style >

  @media only screen and (max-width: 600px) {
    .mymenu{
      display: none;
    }
  }
.bj-first{
  background: #333333;
  color: #fff;
}
  .bj-first *{
    color: #fff !important;
  }
.bj-navststus *{
  font-size: 12px !important;
}
.bj-topnav li{
  float: right;
  list-style: none;
 padding-top: 10px;
  margin-right: 20px;
}
.bj-topnav li *{
  color: #333333;
  font-size: 15px;

}

.bj-topnav li *:hover{
  font-weight:bold;
  text-decoration: none;
}
.bj-icons{
  background-image:url('/icons.png') ;

}
  .bj-basketicon span{
    background-position: -82px -87px;
    float: right;
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  .bj-basketicon2 span{
    background-position:-166px -87px;
    float: right;
    display: inline-block;
    height: 30px;
    width: 30px;
  }
.bj-basketicon3 span{
  background-position: -120px -87px;
  float: right;
  display: inline-block;
  height: 30px;
  width: 30px;
}
.bj-basketicon4 span{
  background-position: -202px -87px;
  float: left;
  display: inline-block;
  height: 30px;
  width: 30px;
}
  .bj-basketicon:hover .bj-basketicon span {
    animation: mymove 1s ;


  }
@keyframes mymove {
  100% {  background-position: -82px -117px;}
}
  .text-basket{
    float: right;

      padding-top: 5px;
    margin-right: 5px;
  }
  .box-search{
    border: solid 1px #c2c2c2;
    width: 200px;
    height: 35px;
    float: left;
    margin-left: 10px;
  }
  .box-search input{
    border: none;
    width: 195px;

  }
.mymeganmenu{
  direction: rtl;

}
  .mymeganmenu li{
      display: inline-block;;
      margin-left: 50px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;

  }
  .mymeganmenu *{
    color: gray;
  }
  .meganmenu{
    position: absolute;
    text-align: right;
    direction: rtl;
    width: 80%;
    padding:15px;
    margin-right: 10%;
    margin-left: 10%;
    z-index: 50000;

    margin-top: 0px;
    min-height: 200px;
    border-bottom: solid 1px #8f8f8f;
    background: rgb(241,241,244);
    background: linear-gradient(45deg, rgba(241,241,244,1) 0%, rgba(233,233,233,1) 100%);
  }
  .myitemmenu{
    color: black;
    text-decoration: none;
  }
.myitemmenu:hover{
  font-weight: bold;
}

 .mainmenu{
    margin-top: 20px;
  }
  .mainmenu li{
    float: left;
    list-style: none;
    margin-left:10px;
  }
  .mainmenu li a{
    color: #333;
  }
  .mainmenu li a{
    text-decoration: none;
  }
  .mainmenu li a:hover{
    font-weight: bold;
  }
</style>
