<template>
    <div class="mobiless" >
        <b-navbar  toggleable="lg" type="dark" variant="primary">
            <b-navbar-brand href="#">{{ $t('Tourism Angels') }}</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <hr>
                <b-navbar-nav>
                    <li> <a class="text-white" :href="'/'+$i18n.locale+'/contactus'" v-text="$t('ContactUs')"></a>   </li>
                    <li> <a  class="text-white" :href="'/'+$i18n.locale+'/aboutus'" v-text="$t('AboutUs')"></a>   </li>
                    <li> <a  class="text-white" :href="'/'+$i18n.locale+'/blog'"  v-text="$t('Blog')"></a>   </li>
                    <li> <a  class="text-white" :href="'/'+$i18n.locale+'/price'"  v-text="$t('pricelist')"></a>   </li>
                    <li> <a  class="text-white" :href="'/'+$i18n.locale+'/services'"  v-text="$t('Services')"></a>   </li>

                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">


                    <b-nav-item-dropdown text="Lang" left>
                        <b-dropdown-item to="/">English</b-dropdown-item>
                        <b-dropdown-item to="/ar">Arabic</b-dropdown-item>
                        <b-dropdown-item href="/fa">Persian</b-dropdown-item>
                        <b-dropdown-item href="/tr">Turkey</b-dropdown-item>

                    </b-nav-item-dropdown>


                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>

</template>

<script>
    export default {
        name: "mobilemenu"
    }
</script>

<style scoped>
.mobiless{
    display: none;
}
@media only screen and (max-width: 600px) {
.mobiless{
    display: block;
    position: relative;
    z-index: 6000;
}
}

</style>