<template>
  <div class="zooms">
    <div v-if="slider!=null" class="zoom-wrapper">
      <div class="mybackgroundimage">
        <div class=" azadi_tower animate__slow animate__animated animate__bounceInRight  animate__delay-1s text-right">
          <img src="/img/azadi.png">
        </div>
        <div class="yazd-tower animate__slow  animate__animated animate__bounceInRight animate__delay-2s text-left">
          <img src="/img/yazd.png" width="350">
        </div>
        <div class="lion_location animate__slower animate__animated animate__fadeIn  animate__delay-2s text-left">
          <img src="/img/lion.png">
        </div>


        <div class="tourism  animate__animated animate__bounceInLeft animate__delay-2s  text-left text-left">
          <img src="/img/tourism.png" class="mdmskdskd">
        </div>
        <div class="ordergroup animate__animated animate__bounceInLeft animate__delay-1s text-left text-left">
          <img class="myimagessss" src="/img/ordergroup.png">
        </div>
        <div class="flyer animate__animated animate__bounceInLeft animate__delay-3s text-left">
          <img src="/img/flyer.png">
        </div>
        <div class="map  animate__animated animate__fadeIn animate__delay-1s  text-left">
          <img src="/img/map.png">
        </div>
        <div class="point  animate__animated animate__fadeInDownBig  animate__pulse animate__delay-2s  text-left">
          <img src="/img/point.png">
        </div>


      </div>
      <div class=" text-left azadi-towers">
        <img src="/img/Layer 16.png" >
      </div>
      <div class="marpele">
        <div class="row">
          <div class="col-6">
            <div class=" firstpele" style="width: 70%;">
              <div class="spele  animate__animated  animate__faster animate__fadeInLeft "><a class="text-white" :href="'/'+$i18n.locale+'/'+left[0].url" v-text="left[0].name"></a></div>
              <div class="spele  animate__animated  animate__fast animate__fadeInLeft spele2"><a  class="text-white"  :href="'/'+$i18n.locale+'/'+left[1].url" v-text="left[1].name"></a></div>
              <div class="spele  animate__animated  animate__slow animate__fadeInLeft spele3"><a class="text-white"  :href="'/'+$i18n.locale+'/'+left[2].url" v-text="left[2].name"></a></div>
              <div class="spele   animate__animated  animate__slower animate__fadeInLeft   spele4"><a class="text-white"  :href="'/'+$i18n.locale+'/'+left[3].url" v-text="left[3].name"></a></div>
            </div>

          </div>
          <div class="col-6">
            <div class=" firstpele w-70" style="width: 50%; margin-left: 50%;">
              <div class="pele animate__animated  animate__faster animate__fadeInRight"><a :href="'/'+$i18n.locale+'/'+right[0].url" v-text="right[0].name"></a></div>
              <div class="pele  animate__animated  animate__fast animate__fadeInRight pele2"><a :href="'/'+$i18n.locale+'/'+right[1].url" v-text="right[1].name"></a></div>
              <div class="pele   animate__animated  animate__slow animate__fadeInRight pele3"><a :href="'/'+$i18n.locale+'/'+right[2].url" v-text="right[2].name"></a></div>
              <div class="pele animate__animated  animate__slower animate__fadeInRight pele4"><a :href="'/'+$i18n.locale+'/'+right[3].url" v-text="right[3].name"></a></div>
            </div>


          </div>
        </div>
      </div>
      <div class="mtts">
        <div class="  animate__animated  animate__faster animate__fadeInLeft "><a class="text-white" :href="'/'+$i18n.locale+'/'+left[0].url" v-text="left[0].name"></a></div>
        <div class="  animate__animated  animate__fast animate__fadeInLeft "><a  class="text-white"  :href="'/'+$i18n.locale+'/'+left[1].url" v-text="left[1].name"></a></div>
        <div class="  animate__animated  animate__slow animate__fadeInLeft "><a class="text-white"  :href="'/'+$i18n.locale+'/'+left[2].url" v-text="left[2].name"></a></div>
        <div class="   animate__animated  animate__slower animate__fadeInLeft   "><a class="text-white"  :href="'/'+$i18n.locale+'/'+left[3].url" v-text="left[3].name"></a></div>
        <div class="ff animate__animated  animate__faster animate__fadeInRight"><a class="text-white"  :href="'/'+$i18n.locale+'/'+right[0].url" v-text="right[0].name"></a></div>
        <div class=" ff animate__animated  animate__fast animate__fadeInRight "><a  class="text-white"  :href="'/'+$i18n.locale+'/'+right[1].url" v-text="right[1].name"></a></div>
        <div class=" ff  animate__animated  animate__slow animate__fadeInRight "><a class="text-white"  :href="'/'+$i18n.locale+'/'+right[2].url" v-text="right[2].name"></a></div>
        <div class="ff  animate__animated  animate__slower animate__fadeInRight "><a class="text-white"  :href="'/'+$i18n.locale+'/'+right[3].url" v-text="right[3].name"></a></div>

      </div>
    </div>
  </div>

</template>

<script>
    export default {
        name: "slider",
      props:{
        name:{
          type:String,
          default:null

        },
        height:{
          type:String,
          default: '800px'

        },
        id:{
          type:String,
          default: null
        }
      },
      data(){
        return{
          slider:null,
          left:{
            0:{
              icon:null,
              name:this.$t('Mac remedy(digital hospital)'),
              url:'macremedy',
            },
            1:{
              icon: null,
              name:this.$t('International Beauty and Health Services'),
              url:'IBHS',
            },
            2:{
              icon: null,
              name:this.$t('Hospitality And Garantie'),
              url:'Hospitality',
            },
            3:{
              icon: null,
              name:this.$t('Insurance'),
              url:'Insurance',
            },
          },
          right:{
            0:{
              icon:null,
              name:this.$t('Tour Package'),
              url:'tourPackage',
            },
            1:{
              icon: null,
              name:this.$t('Visa & Ticket'),
              url:'VISA',
            },
            2:{
              icon: null,
              name:this.$t('Hospitality'),
              url:'Hospitality',
            },

            3:{
              icon: null,
              name:this.$t('Insurance'),
              url:'Insurance',
            },


          },
          services:{
            en:'sectionen',
            fa:'sectionfa',
            ar:'sectionar',
            tr:'sectiontr',
          }
        }
      },
        methods:{
          loadslider(){
            let that=this;
            that.$axios.get(this.$url+'blog/'+this.services[that.$i18n.locale],{
              params:{
                lang:that.$i18n.locale
              }
            })
              .then(function (response) {
                that.slider=response.data;
              });
          }
        },
      mounted() {
          this.loadslider();
      }
    }
</script>

<style scoped>
.mybackgroundimage{
  background-image: url("/es.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  width: 100%;
  background-size: cover;
  overflow: hidden;

}
.myanimation{
  right: -601px;
  width: 82px;
  height: 800px;
  z-index: 500;
  position: relative;

/*
  animation: azadianiamtion 2s forwards ;
*/

}
.myanimation2{
  position: absolute;
  top:0px;
  animation: azadianiamtion2 3s forwards ;
  animation-duration: 2s;
  filter: sepia(50%);
  transition: opacity 2s ease-in;

}
.lionaniamtion{
  position: relative;
  top: -634px;
  right: -318px;
  z-index: 500;
}

.azaditower{
  position: relative;
  top: -1147px;
  right: -771px;

}
.firstnamesize{
  width: 250px;
  position: absolute;
  top: 95px;
  left: 70px;
}

.ordergroup{
  width: 250px;
  position: absolute;
  top: 174px;
  left: 70px;
}
.flyer{
  width: 250px;
  position: absolute;
  top: 55px;
  left: 330px;
}
.map{
  top: 273px;
  position: absolute;
  left: 91px;
}
.point{
  top: 313px;
  position: absolute;
  left: 346px;
}
.line1{
  top: 200px;
  position: absolute;
  left: 0px;
}
.fddddd{
  position: absolute;
  top:800px;
}
@keyframes azadianiamtion {
  from {right: -1000px;}
  to {right: -900px;}
}
@keyframes azadianiamtion2 {
  from {right: -200px;}
  to {right: -100px;}
}
.pele{
  background-color: #400101;
  width: 100%;
  margin: 0px;
  height: 40px;
  font-weight: bold;

  text-align: right;
  padding: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}
.pele2{
  background-color: #710000;

  width: 94%;
  right: 0px;
  margin-left: 6%;
  margin-top: 10px;
}
.pele3{
  background-color: #a80000;

  width: 88%;
  right: 0px;
  margin-left: 12%;
  margin-top: 13px;
}
.pele4{
  background-color: #ce0000;

  width: 83%;
  right: 0px;
  margin-left: 17%;
  margin-top: 13px;
}
.pele5{
  background-color: #ce0000;

  width: 78%;
  right: 0px;
  margin-left: 22%;
  margin-top: 13px;
}
.pele6{
  background-color: #ce0000;

  width: 73%;
  right: 0px;
  margin-left: 27%;
  margin-top: 13px;
}
.spele {
  background-color: #006c18;
  width: 85%;
  margin: 0px;
  font-size: 25px;
  padding-left: 25px;

  font-weight: bold;
  color: #fff;
  height: 40px;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}
.spele2{
  background-color: #009520;

  width: 90%;
  margin-right: 6%;
  margin-top: 10px;
}
.spele3{
  background-color: #00c229;

  width: 95%;
  margin-right: 6%;
  margin-top: 10px;
}
.spele4{
  background-color: #00f135;

  width: 100%;
  margin-right: 6%;
  margin-top: 10px;
}
.marpele{
  position: relative;
  margin-top: -200px;
  min-height: 600px;


}
.marpele *{
  font-size:14px !important;
}
.spele{
  padding-top: 10px;
}
.pele {
  padding-top: 10px;
}
.pele a{
  text-align: right;
  color: #fff;
  font-size: 20px;
  text-align: right;
  width: 100%;
}
.azadi_tower{
  margin-right: 150px;
}
.yazd-tower{
  position: absolute;;
  top:70px;
  right: 40px;
}
.lion_location{
  position: absolute;
  top:210px;
  right: 350px;
}
.tourism{
  width: 250px;
  position: absolute;
  top: 132px;
  left: 70px;
}
.tourismtext{
  position: absolute;;
  top:90px;
  left: 70px;
}
.azadi-towers{
  position: absolute;
  top: 316px;
  right: 140px;
}
.zoom-wrapper {



}
  .zooms{


  }
  .myimagessss{
    margin-top: -120px;
    width: 310px;
  }
  .mdmskdskd{
    width: 320px;
    margin-left: 60px;
    margin-top: 27px;
  }
.azadi-towers img{
  height: 500px;
}
.mtts{
  display: none;
}
@media only screen and (max-width: 600px) {
  .yazd-tower {
    display: none;
  }
  .marpele {
    display: none;
  }
  .myimagessss{
    margin-top: -90px;
    width: 210px;
  }
  .mdmskdskd{
    width: 189px;
    margin-left: 40px;
    margin-top: 22px;
  }
  .flyer{
    width: 250px;
    position: absolute;
    top: 165px;
    left: 30px;
  }
  .map{

  }
  .map img{
    width: 180px;
    margin-top: 30px;
  }
  .point img{
    width: 10px;
    margin-left: -150px;
  }
  .zooms{

    height: 1200px;

  }
  .mybackgroundimage{
    overflow: hidden;
  }
  .azadi-towers img{
    height: 200px;
  }
  .azadi-towers{
    position: absolute;
    top: 366px;
    right: -10px;
  }
  .lion_location{
    display: none;
  }
.mtts{
  display: block;
  margin-top: -230px;
}
.mtts div{
  background-color: rgba(9, 13, 250, 0.62);
  padding: 2px;
}
.mtts  .ff{
  background-color: rgba(118, 9, 91, 0.62) !important;

}
}



</style>
