<template>
  <div v-if="slider!=null">

    <b-carousel
      id="carousel-fade"
      style="text-shadow: 0px 0px 2px #000"
      fade
      controls
      indicators
      img-width="1024"
      img-height="480"
    >
      <b-carousel-slide
        v-for="(item,index) in slider.todetail"
        :key="index"
        :img-src="$storage+'media/gallery/'+item.id+'/orginal/'+item.file"
      ></b-carousel-slide>

    </b-carousel>

    -webkit-box-shadow: -4px 6px 5px -4px rgba(176,173,176,1);
  </div>
</template>

<script>
    export default {
        name: "slider",
      props:{
        name:{
          type:String,
          default:null

        },
        height:{
          type:String,
          default: '800px'

        },
        id:{
          type:String,
          default: null
        }
      },
      data(){
        return{
          slider:null
        }
      },
        methods:{
          loadslider(){
            let that=this;

            this.$axios.get(this.$url+'slider',{
              params:{
                url:this.name,
                id:this.id,
              }
            }).then(function (res) {
              that.slider=res.data;
              that.$forceUpdate();
            })
          }
        },
      mounted() {
          this.loadslider();
      }
    }
</script>

<style scoped>

</style>
