<template>
  <div class="container mt-3" style="margin-top: 100px;" >
    <h1 class="text-center" style="text-align: center;" v-text="article.data.name"></h1>
    <hr>
    <show-article :text="article.data.text"></show-article>
 

    <div class="row" style="margin-top:100px;">
        <div class="row "   >
          <template v-if="article.data.group=='Therapeutic' || article.data.group== 'درمانی' || article.data.group=='Tedavi edici' || article.data.group=='علاجي'">
            <v-btn  :href="localePath('/Therapeutic')"   class="btn btn-success" >{{ $t('Request') }}</v-btn>

          </template>

          <template v-if="article.data.group=='Beauty' || article.data.group=='قسم التجميل' || article.data.group=='Güzellik bölümü' || article.data.group=='بخش زیبایی'">
            <v-btn  :href="localePath('/Beauty')"   class="btn btn-success" >{{ $t('Request') }}</v-btn>

          </template>
          <template v-if="article.data.group=='Checkup'">
            <v-btn  :href="localePath('/Checkup')"   class="btn btn-success" >{{ $t('Request') }}</v-btn>

          </template>


        </div>

    <template>
        <v-row>
          <v-col cols="12" md="3" :key="index" v-for="(item,index) in  article.data.likedarticle">
                <thumpnail :item='item'></thumpnail>
          </v-col>
        </v-row>
  
      </template>
  <template v-for="(i,index) in article.data.tag">
      <v-chip :to="'/tag/'+i.name" :key="index">{{ i.name }}</v-chip>
    </template>
    </div>
    
    <br>
  </div>
</template>

<script>
    import ShowArticle from "~/components/view/articleshow";
        import thumpnail from "~/components/view/thumpnail";

    export default {
        name: "index",
      components: {ShowArticle,thumpnail},
      data(){
        return{
          //article:{},
          health:{
            name:null,
            orgincountry:null,
            taget:null,
            email:null,
            service:null,
            whatsapp:null,
            comment:null,

          },
        }
      },
      async asyncData({ app,params,$axios ,$i18n }) {
        try {
     let  url = encodeURI(app.$url+'article/'+params.url);

          let article = await  $axios.$get(url,{
            params: {
              lang:app.i18n.locale
            }
          })
          return {
            article
          }
        }

        catch(error){
        }

      },

      head () {
        return {
          title: this.article.data.name,
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content:this.article.data.description },
            { hid: 'keywords', name: 'keywords', content:this.article.data.keywords },
            { hid: 'twitter:title',  content:this.article.data.name },
            { hid: 'og:title',  content:this.article.data.name },
            { hid: 'twitter:description',  content:this.article.data.description },
            { hid: 'og:description',content:this.article.data.keywords },
            { hid: 'og:image',content:this.$storage+'/media/Articles/'+this.article.data.id+'/thump/'+this.article.data.image },
            { hid: 'twitter:image',content:this.$storage+'/media/Articles/'+this.article.data.id+'/thump/'+this.article.data.image },

          ]
        }
      }
    }
</script>

<style scoped>

</style>
