<template>
  <div>
    <div>
      <template v-if="ctext.indexOf('tisstab')!=-1">
            <b-tabs content-class="mt-3">
          <template v-for="(i,index) in ctext.split('<hr />')" >
          <template v-if="index!=0">
                          <b-tab :title="gettext(i)"   :key="index" >
                         <p v-html="i"></p></b-tab>
          </template>
          </template>
            </b-tabs>
      </template>
      <template v-else>
      <div v-html="ctext"></div>
      </template>
    </div>
    <request></request>
  </div>
</template>

<script>
  import Request from "~/components/view/Request";
  export default {
    name: "ShowArticle",
    components: {Request},
    props:['text'],
    data() {
      return {

      }

    },
    watch:{


    },
    computed:{
      ctext() {
        if(this.text!=null) {
         return this.text.replace('%url%', this.$storage+'/');
        }else{
          return  '';
        }
      }
    },
      methods: {
        gettext(text){
           text=  text.match(/<h2.*?<\/h2>/g);
   text = text.toString();

         return text.replace(/<[^>]*>/g, '');
;
        }
            },
    mounted() {
      //this.show();
      if(this.text!=null){
        this.text=this.text.replace('%url%',this.$storage+'/');
        this.$forceUpdate();

      }



    }
  }
</script>

<style scoped>

</style>
