<template>
  <div class="container-fluid">
    <h1 class="text-center mt-4" v-text="blog.name"></h1>
    <hr>

    <div class="container">
      <v-container>
        <v-row class=" mt-3" v-if="blog.article!=null">


          <v-row v-if="blog!=null">

            <v-col cols="12" md="3" vs-type="flex" vs-justify="center" vs-align="center" w="4"  v-for="(item,index) in blog.article.data" :key="index">
             
 <a :href="localePath('/article/' + item.url)">
            <vs-card style="text-align: center">
              <template #title>
                <h3>{{ item.name }}</h3>
              </template>
              <template #img>
                <template v-if="item.image == null">
                  <img
                    :alt="item.name"
                    :title="item.name"
                    class="imgservice"
                    src="/noimage.png"
                  />
                </template>
                <template v-else>
                  <img
                    :alt="item.name"
                    :title="item.name"
                    class="imgservice"
                    :src="
                      $storage +
                      '/media/blog/' +
                      item.id +
                      '/thump/' +
                      item.image
                    "
                  />
                </template>
              </template>
              <template #text>
                <p style="height: 70px">
                  <template v-if="item.description != null">
                    {{
                      item.description != "null"
                        ? item.description.substring(0, 50) + "..."
                        : ""
                    }}
                  </template>
                </p>
              </template>
            </vs-card>
          </a>            </v-col>

          </v-row>

        </v-row>

      </v-container>
    </div>
  </div>
</template>

<script>
    import Showarticle from "~/components/view/showarticle";
    import ShowArticle from "~/components/view/articleshow";
        import thumpnail from "~/components/view/thumpnail";

    export default {
        name: "BlogShow",
      components: {ShowArticle, Showarticle,thumpnail},
      props:['url'],
      data(){
          return{
            blog:{}
          }
      },
      beforeMount() {
        let self=this;
        self.$axios.get(this.$url+'blog/'+this.url)
          .then(function (res) {
            self.blog=res.data;
          });
      },
      head () {
        return {
          title: this.blog.name,
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content:this.blog.description },
            { hid: 'keywords', name: 'keywords', content:this.blog.keywords },
          ]
        }
      }
    }
</script>

<style scoped>
.imgservice{height: 300px; width: 100%;}
.titleofpage{text-decoration:none !important; text-align: center; font-size:14px; margin-top:10px; }
.hreflink{ text-decoration:none !important;}
.mt-3{ margin-top:100px;}
</style>
