<template>
  <div class="container-fluid">
    <div class="container" v-if="blog != null">
      <div style="width: 100%">
        <v-row>
          <v-col vs-type="flex" vs-justify="center" vs-align="center" w="4">
            <img
              class="
                myhover
                animate__animated animate__delay-3s animate__zoomIn
              "
              src="/m1.svg"
            />
          </v-col>
          <v-col vs-type="flex" vs-justify="center" vs-align="center" w="4">
            <img
              class="
                myhover
                animate__animated animate__delay-2s animate__zoomIn
              "
              src="/m2.svg"
            />
          </v-col>
          <v-col vs-type="flex" vs-justify="center" vs-align="center" w="4">
            <img
              class="myhover animate__animated animate__zoomIn"
              src="/m3.svg"
            />
          </v-col>
        </v-row>
      </div>
      <v-row v-if="blog != null">
        <v-col
          cols="12"
          md="4"
          vs-type="flex"
          vs-justify="center"
          vs-align="center"
          w="4"
          v-for="(item, index) in blog.article.data"
          :key="index"
        >
          <!-- <thumpnail :item="item"></thumpnail> -->
          <a :href="localePath('/article/' + item.url)" style="text-decoration:none;">
            <vs-card style="text-align: center">
              <template #title>
                <h3>{{ item.name }}</h3>
              </template>
              <template #img>
                <template v-if="item.image == null">
                  <img
                    :alt="item.name"
                    :title="item.name"
                    class="imgservice"
                    src="/noimage.png"
                  />
                </template>
                <template v-else>
                  <img
                    :alt="item.name"
                    :title="item.name"
                    class="imgservice"
                    :src="
                      $storage +
                      '/media/blog/' +
                      item.id +
                      '/thump/' +
                      item.image
                    "
                  />
                </template>
              </template>
              <template #text>
                <p style="height: 70px">
                  <template v-if="item.description != null">
                    {{
                      item.description != "null"
                        ? item.description.substring(0, 50) + "..."
                        : ""
                    }}
                  </template>
                </p>
              </template>
            </vs-card>
          </a>
        </v-col>
        <v-col cols="12" v-if="blog != null">
          <v-pagination
            v-model="page"
            :length="blog.article.last_page"
            @change="loaditem"
            color="primary"
          ></v-pagination>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import Showarticle from "~/components/view/showarticle";
import ShowArticle from "~/components/view/articleshow";
import thumpnail from "~/components/view/thumpnail";

export default {
  name: "BlogShow",
  components: { ShowArticle, Showarticle, thumpnail },
  props: ["url"],
  watch: {
    page: function (val) {
      this.loaditem();
    },
  },
  data() {
    return {
      blog: null,
      page:1,
      steps: {
        fa: {
          1: "firstsetpfa",
          2: "2ndstepfa",
          3: "3ndstepfa",
        },
        en: {
          1: "firstsetpen",
          2: "enlevel2",
          3: "level3en",
        },
        ar: {
          1: "level1ar",
          2: "level2ar",
          3: "level3ar",
        },
        tr: {
          1: "level1tr",
          2: "leveltr2",
          3: "level3tr",
        },
      },
    };
  },

  beforeMount() {
    let self = this;
    self.$axios.get(this.$url + "blog/" + this.url).then(function (res) {
      self.blog = res.data;
    });
  },
  methods: {
    loaditem() {
      let self = this;
      self.$axios
        .get(this.$url + "blog/" + this.url, {
          params: { page: this.page },
        })
        .then(function (res) {
          self.blog = res.data;
        });
    },
  },

  // head () {
  //   return {
  //     title: this.blog.name,
  //     meta: [
  //       // hid is used as unique identifier. Do not use `vmid` for it as it will not work
  //       { hid: 'description', name: 'description', content:this.blog.description },
  //       { hid: 'keywords', name: 'keywords', content:this.blog.keywords },
  //     ]
  //   }
  // }
};
</script>
<style >
.theme--light.v-pagination .v-pagination__item--active{
background-color:rgb(0, 100, 150);
}
</style>
<style scoped>
.imgservice {
  height: 200px;
  width: 100%;
  margin-top: 20px;
}
.myhover:hover {
  transform: scale(1.1, 1.1);
}
.container {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  margin-right: auto;
  margin-left: auto;
}
h3 {
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
</style>
