<template>
  <div class="container-fluid">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 text-center">
          <img class="animate__animated animate__delay-1s  animate__fadeIn " style="border-radius: 5px;" src="/tr.jpg" width="70%">
        </div>
      </div>
      <div class="row mt-3" v-if="blog.article!=null">


          <div v-for="(item,index) in blog.article.data" :key="index" class="card col-sm-4 col-xs-12 mt-4"  style="border-bottom: solid 5px orange; border-radius: 3%;">
            <template v-if="item.image==null">
              <img class="imgservice" src="/noimage.png">


            </template>
            <template v-else>
              <img class="imgservice" :src="$storage+'media/Articles/'+item.id+'/thump/'+item.image">

            </template>
            <div class="card-body">
              <a :href="'/article/'+item.url"  class="text-black" style="color:black; text-align: center;" >
              <h5 class="card-title">{{ item.name }}</h5>
              </a>
            </div>

        </div>

      </div>
    </div>
    <div class="mt-4"></div>
  </div>
</template>

<script>
    import Showarticle from "~/components/view/showarticle";
    import ShowArticle from "~/components/view/articleshow";
    export default {
        name: "BlogShow",
      components: {ShowArticle, Showarticle},
      props:['url'],
      data(){
          return{
            blog:{},
            steps:{
              fa:{
                1:'firstsetpfa',
                2:'2ndstepfa',
                3:'3ndstepfa',

              },
              en:{
                1:'firstsetpen',
                2:'enlevel2',
                3:'level3en',

              },
              ar:{
                1:'level1ar',
                2:'level2ar',
                3:'level3ar',

              },
              tr:{
                1:'level1tr',
                2:'leveltr2',
                3:'level3tr',

              },

            }
          }
      },
      beforeMount() {
        let self=this;
        self.$axios.get(this.$url+'blog/'+this.url)
          .then(function (res) {
            self.blog=res.data;
          });
      },
      head () {
        return {
          title: this.blog.name,
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
            { hid: 'description', name: 'description', content:this.blog.description },
            { hid: 'keywords', name: 'keywords', content:this.blog.keywords },
          ]
        }
      }
    }
</script>

<style scoped>
.imgservice{height: 200px; width: 100%; margin-top: 20px;}
.myhover:hover{
  transform: scale(1.1,1.1);
}
</style>
