<template>
  <div class="col" >
    <v-card
      class="mx-auto"
      max-width="400"
    >
      <v-img   v-if="item.image==1"                       class="white--text align-end"
               height="200px"
               :src="$storage+'/media/Articles/'+item.id+'/thump.png'"
      >

      </v-img>
      <v-img
        v-else
        class="white--text align-end"
        height="200px"
        :src="$storage+'/media/Articles/'+item.id+'/thump/'+item.image"
      >

      </v-img>

      <v-card-title class="pb-0">
        {{  item.name }}
      </v-card-title>



      <v-card-actions>
        <v-btn
          color="orange"
          text
          :to="localePath('/medic/'+item.url)"
        >
          {{  $t('readmore') }}
        </v-btn>


      </v-card-actions>
    </v-card>

  </div>
</template>

<script>
export default {
name: "cardbox",props:['item']
}
</script>

<style scoped>

</style>
