<template>
  <div class="col" >
    <v-card
      class="mx-auto"
      max-width="400"
      style="text-align: center;"
      :to="'/medic/'+item.url"
    >
      <v-img   v-if="item.image=='thump.png'"                       class="white--text align-end"
               height="200px"
               :alt="item.name"  :title="item.name"
               :src="$storage+'/media/Articles/'+item.id+'/thump.png'"
      >

      </v-img>
      <v-img
        v-else
        class="white--text align-end"
        height="200px"
        :alt="item.name"  :title="item.name"
        :src="$storage+'/media/Articles/'+item.id+'/thump/'+item.image"
      >

      </v-img>

      <v-card-title class="pb-0" style="font-size: 13px; width:100%; height: 70px; text-align: center;">
        {{  item.name }}
      </v-card-title>

    </v-card>

  </div>
</template>

<script>
export default {
name: "cardbox",props:['item']
}
</script>

<style scoped>

</style>
