<template>
  <div dir="ltr">

    <div class="mymenu w-100">

      <ul class="mainmenu float-left" dir="ltr">

        <li> <a :href="'/'+$i18n.locale+'/contactus'" v-text="$t('ContactUs')"></a>   </li>
        <li> <a :href="'/'+$i18n.locale+'/aboutus'" v-text="$t('AboutUs')"></a>   </li>
        <li> <a  :href="'/'+$i18n.locale+'/blog'"  v-text="$t('Blog')"></a>   </li>
        <li> <a  :href="'/'+$i18n.locale+'/price'"  v-text="$t('pricelist')"></a>   </li>
        <li> <a  :href="'/'+$i18n.locale+'/services'"  v-text="$t('Services')"></a>   </li>
     

      </ul>
      <div class="float-right pr-3">
        <ul class="mainmenu text-center">

          <li><a href="/" >  <img class="bi4" width="35" src="/lang/en.jpg"></a> </li>
          <li><a href="/fa" >   <img class="bi4" width="35" src="/lang/fa.jpg"></a> </li>
          <li><a href="/tr" >  <img class="bi4" width="35" src="/lang/tr.jpg"></a> </li>
          <li><a href="/ar" > <img class="bi4" width="35" src="/lang/ar.jpg"></a> </li>
        </ul>
      </div>
    </div>

    <sliderarticle   :lang="$i18n.locale"></sliderarticle>
    <div class="blueline  myblouelione2" >
      <div style="text-align:center; width:100%;" v-text="$t('Tourism Angels')"></div>
    </div>
    <div v-if="abouttext!=null">
      <div class="row">
        <div class="col-sm-3 notshowonmoblile col-xs-12 animate__animated  animate__faster animate__fadeInLeft myfirstsection" :style="{backgroundImage:'url('+$storage+'media/Articles/'+abouttext.data.id+'/orginal.png)'}">
          <div >
            <p v-text="$t('about')"></p>
            <p  v-text="$t('Us')"></p>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12 p-5 ">
            <div class="mttsa" v-bind:style="{height:heightrea+'px'}" style="overflow: hidden">
              <show-article class="mt-5"  :text="abouttext.data.text"></show-article>

            </div>
          <a class="btn btn-dark" @click="heightrea=800">{{ $t('readmore')}}</a>

        </div>
      </div>
    </div>

        <div class="blueline notshowonmoblile liner2">   </div>

    <div class="container-fluid">
      <div class="row esmail" v-if="servicecat!=null">
        <div class="col-sm-2 col-xs-12">

          <div class="p-2">

          </div>

          <div>

          </div>
        </div>
        <div class="col-sm-10 col-xs-6">
          <div class="row notshowonmoblile">
            <div v-for="(item,index) in servicecat.article.data" :key="index" class="col-sm-3 col-xs-6 mt-3"  >
             <div class="boxradios" :style="{BackgroundImage :'url('+$storage+'/media/back.png'}">
            <div>
              <img v-if="item.image==1" class="imgservice" :src="$storage+'media/Articles/'+item.id+'/orginal.png'">
              <img v-else class="imgservice" :src="$storage+'media/Articles/'+item.id+'/thump/'+item.image">
            </div>
               <div class="p-4 myitemstop">
                 
                 <a class="myitems" :href="$i18n.locale+'/article/'+item.url">
                   <h4 style="font-size: 15px;" v-text="item.name"></h4>

                 </a>
               </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>

            <request page="firstpage"></request>


  </div>


</template>

<script>

  import sliderarticle from "~/components/layout/sliderarticle";
  import ShowArticle from "~/components/view/articleshow";
  import Request from "~/components/view/Request";

  export default {
    components: {
      Request,
      ShowArticle,
      sliderarticle,

    },
    data(){
      return{
        heightrea:300,
        setting: {},
        abouttext:null,
        servicetext:null,
        servicecat:null,
        slider:{
          en:'slideren',
          fa:'slideren',
          ar:'slideren',
          tr:'slideren',
        },
        servicegroup:{
          en:'ServicesEn',
          fa:'ServicesFa',
          ar:'servicear',
          tr:'Hizmetler',
        },
        lang:this.$i18n.locale,
        about:{
          en:'aboutfirstoage',
          fa:'anoutfa',
          ar:'Aboutar',
          tr:'Abouttr',
        },
        service:{
          en:'serviceen',
          fa:'servicefa',
          ar:'servicefa',
          tr:'servicefa',
        }

      }
    },
    methods:{
      loadfirstpage(){
        let self=this;
        self.$axios.get(this.$url+'article/'+this.about[this.lang])
          .then(function (res) {
            self.abouttext=res.data;
          });
        self.$axios.get(this.$url+'article/'+this.service[this.lang])
          .then(function (res) {
            self.servicetext=res.data;
          });
        self.$axios.get(this.$url+'blog/'+this.servicegroup[this.lang])
          .then(function (res) {
            self.servicecat=res.data;
          });

      }
    },
    beforeMount() {
      let self=this;

      self.$axios.get(this.$url+'setting/'+this.lang)
        .then(function (res) {
          self.setting=res.data;
        });

    },
    mounted() {
      this.loadfirstpage();

    },
    head () {
      return {
        title: this.setting.webname,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content:this.setting.description },
          { hid: 'keywords', name: 'keywords', content:this.setting.keywords },
        ]
      }
    }


  }
</script>

<style>
  .myfirstsection{
    height:350px;
    background-size: cover;
    border-top-right-radius: 45%; /* 100px of height + 10px of border */
    border-bottom-right-radius: 45%; /* 100px of height + 10px of border */

    padding: 48px;
      width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
   .myfirstsection div{
     margin: 15px;
     margin-top: 10px;
     
     margin-bottom: 20px;;
   }
   .myfirstsection div p{
     font-size: 40px;
     line-height: 20px;
   }
  .mymenu{
    position: fixed;
    z-index: 80000;
  }
  .mainmenu{
    margin-top: 20px;
  }
  .mainmenu li{
    float: right;
    list-style: none;
    margin-left: 20px;
  }
  .mainmenu li a{
    color: #ffffff !important;
  }
  .mainmenu li a{
    text-decoration: none;
  }
  .mainmenu li a:hover{
    font-weight: bold;
  }
  .blueline{
    height: 30px;
    padding-right: 25px;
    font-size: 42px;
    text-align: right;
    font-weight: bold;
    margin-top: 20px;;
    color: #fff;
    width: 100%;
    border-bottom: solid 1px #333;

  }
  .myfirstsection div{
    background-color: rgba(51, 51, 51, 0.6);
    width: 200px;
    height: 100px;
    margin-top: 5%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
  }
  .myfirstsection div *{
    font-size: 70px;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
  }
  .liner2{
    height: 20px;
    background-color:#ff5e78 ;
    margin-bottom: 10px;
    margin-top: 20px;

  }
  .bi4{
    border-radius: 10px;
  }
  .myimg{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 15px 0px 0px 15px;
    border: solid 1px #00C3DA;
  }
  .firstservicebox{
    background: rgb(253,201,255);
    background: linear-gradient(150deg, rgba(253,201,255,1) 0%, rgba(147,83,183,1) 20%, rgba(214,183,231,1) 49%);
    width: 100%;
    height: 100px;
    padding-top: 20px;
  }
  .firstservicebox div{
    font-size: 25px;
    color:#fff;
    font-weight: bold;
    text-align:center;
    padding-top: -10px;
  }
.text-gray{
  color: gray;;

}
  .boxradios{
    border: dashed 3px #909090;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    background-color: #f1f1f1;;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 90%;
  }
  .imgservice{
    width: 200px;
    height: 200px;
    margin-top: 25px;
    border-radius: 90%;
  }
  .myitemstop{
    background-color: rgba(255, 255, 255, 0.9);
    height: 10px;
    margin-top: -120px;
    z-index: 5000;
    width: 80%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
    .myitems{
    background-color: #fff;
    z-index: 400;

    }
  .myitems *{
    color:grey !important;;
    text-decoration: none;

  }
.labelss{
  display:inline-block;
  font-size: 14px;
  margin-top: 20px;
}
  .forminput {
    padding: 7px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    width: 300px;

  }
  .forminput:focus {
    outline:none;
  }
  .myblouelione2{
margin-top: -400px;
font-size: 20px;
color: #fff;
    background-color: #845ec2;
height: 40px;

  }
  @media only screen and (max-width: 600px) {
.notshowonmoblile{
  display: none;
}
    .firstservicebox div{
      font-size: 25px !important;
      color:#fff;
      font-weight: bold;
      padding-top: -10px;
    }
    .firstservicebox{
      background: rgb(253,201,255);
      background: linear-gradient(150deg, rgba(253,201,255,1) 0%, rgba(147,83,183,1) 20%, rgba(214,183,231,1) 49%);
      width: 100%;
      height: 100px;
    }
  }
.mymenu {
  background-color: #333;
  margin-bottom:8px;

}
</style>
