<template>
<div>
  <div class="linebar"></div>
  <div v-if="setting!=null" class="linefootbar">
      <div class="p-3">
        <div class="row pt-3 ">
          <div class="col-sm-6 col-xs-12">
            <img src="/gonbad.png" width="100%">
          </div>
          <div class="col-sm-3 col-xs-12">
            <ul class="myfootrtlist ">
              <li   ><img src="/location.svg" width="20"> <strong  v-html="$t('Address')"></strong></li>
              <li style="color:grey;" ><p v-html="setting.address"></p></li>
              <li  class="mt-3"><img src="/mail.svg" width="20" height="15"><strong v-text="$t('E-mail')"></strong></li>
              <li style="color:grey;" v-text="'info@tourismangels24.com'"></li>
              <li  class="mt-3"><img src="/phone-call.svg" width="20" height="15"><strong v-text="$t('phone')"></strong></li>
              <li  ><a v-text="setting.phone"></a></li>

            <li>{{ footer }}</li>
            </ul>
          </div>
          <div class="col-sm-3 col-xs-12">

            <ul class="myfootrtlist">
              <li  class="mt-3"><img src="/headphones.svg" width="20" height="15"><strong v-text="$t('supportphone')"></strong></li>
              <li  ><a v-text="setting.supportphone"></a></li>
              <li  class="mt-3"><img src="/whatsapp.svg" width="20" height="15"><strong v-text="$t('whatsapp')"></strong></li>
              <li  ><a v-text="setting.whatsapp"></a></li>



            </ul>
          </div>

        </div>
      </div>

  </div>
  <div class="w-100 text-center" v-if="setting!=null">
    <ul class=" myfootrtlist2">
      <li ><strong v-text="$t('STAYCONNECTEDWITHUS')"></strong></li>
      <li>
        <div class="container-fluid">
          <div class=" ">
            <a :href="setting.facebook" class="col-sm-1 col-xs-1 icofont-facebook btn " style="width: 20px;"></a>
            <a :href="setting.instagram" class="col-sm-1 col-xs-1 icofont-instagram btn " style="width: 20px;"></a>
            <a :href="setting.twitter" class="col-sm-1 col-xs-1 icofont-twitter btn " style="width: 20px;"></a>
            <a :href="setting.whatapp" class="col-sm-1 col-xs-1 icofont-whatsapp btn " style="width: 20px;"></a>
            <a :href="setting.linkedin" class="col-sm-1  col-xs-1 icofont-linkedin btn " style="width: 20px;"></a>
            <a :href="setting.pinteres" class="col-sm-1  col-xs-1 icofont-pinterest btn " style="width: 20px;"></a>
          </div>
        </div>

      </li>


    </ul>
  </div>
  <ul class="lastmenu">
    <li><a :href="'/'+$i18n.locale+'/terms'">{{ $t('Terms and Conditions') }}</a></li>
    <li><a :href="'/'+$i18n.locale+'/Complaints'">{{ $t('Complaints and follow-up') }}</a></li>
  </ul>
  <div class="linebar linebar2 text-black" style="color: black;">
    Powered By AfrangArt &copy; TISS Engine 2  <span v-text="new Date().getFullYear()"></span>
  </div>

</div>
</template>

<script>
  import Showarticle from "~/components/view/showarticle";
    export default {
        name: "footers",
      components: {Showarticle},
      data(){
          return{
            setting:null,
            service:null,
            footer:null,
            mission:{
              en:'our_mission_en',
              fa:'our_mission_en',
              ar:'our_mission_en',
            },
            services:{
              en:'sectionen',
              fa:'sectionfa',
              ar:'sectionar',
            }
          }
      },
      methods:{
          loadsetting(){
          let that=this;
            that.$axios.get(this.$url+'contactus',{
              params:{
                lang:that.$i18n.locale
              }
            })
            .then(function (response) {
                that.setting=response.data;
            })
            that.$axios.get(this.$url+'blog/'+this.services[that.$i18n.locale],{
              params:{
                lang:that.$i18n.locale
              }
            })
              .then(function (response) {
                that.service=response.data;
              })
          }
      },
      beforeMount() {
      },
      mounted() {
          this.loadsetting();
      }
    }
</script>

<style scoped>
.linebar{
  width: 100%;
  height: 40px;
  overflow: hidden;
  background-color: #f7f7f7;
}
.linebar2{
  height: 20px;
  color:#fff;
  text-align: center;
  font-size: 10px;
  padding-top: 3px;
}
  .linefootbar{
    background-color: #fff;
    width: 100%;
    min-height: 200px;
  }
  .myfootrtlist li{
    list-style: none;
    color: #333;
    text-align: left;
  }
  .titlefootertext{
    font-size: 25px;
    color: black;
  }
.titlefootertext{
  font-size: 27px;
}
.myfootrtlist2{
  text-align: center !important;
  width: 100%;
  list-style: none;
  background-color: #D62828;
  padding: 15px;
  color: #fff;
}
.myfootrtlist2 *{
  color: #fff;


}
  .mylistfooter{
    list-style: none;

  }
.mylistfooter li a{color:black; text-decoration: none; color: darkred;}
.mylistfooter li a:hover{font-weight: bold;}
  .lasttitlefootertext{ font-size: 25px;}
  .lastmenu li{
    padding-left: 15px;
    display: inline-block;
    color: #333 !important;
  }
  .lastmenu *{
    color: #fff;
    font-size: 12px;

  }
  .lastmenu{
    margin-top: -20px;
    text-align: center;
    width: 100%;
    background-color: #333333;
    border-bottom: #888888 3px;
  }
</style>
