<template >
  <div class="ma-2">
    <div :dir="$t('dir')" v-if="settingcomment!=null" class="container-fluid">
      <form @submit.prevent="sendrequest" class="form">
        <v-row>
          <v-col cols="12" md="12" lg="12" sm="12" xs="12">
            <v-btn class="mt-4 primarys" @click="activetab=true">{{ $t('RequestForm')}}</v-btn>
          </v-col>
          <v-col v-if="activetab==true" cols="12" md="6" lg="6" sm="12" xs="12">
            <div class="mt-4">
              <v-text-field
                required
                :label="$t('Name')+ '*'"
                v-model="re.name"
                :placeholder="$t('Name')"
              ></v-text-field>
            </div>

            <div class>
              <v-text-field
                required
                :label="$t('phone')+ '*'"
                v-model="re.phone"
                :placeholder="$t('phone')"
              ></v-text-field>
            </div>
            <div class="mt-4" style="text-align: left;">
              <label v-text="$t('Subject')+ '*'"></label>
              <br />
              <select required class="vs-input" v-model="re.subject" style="width: 100%;">
                <option value="subject1" v-text="settingcomment.subject1"></option>
                <option value="subject2" v-text="settingcomment.subject2"></option>
                <option value="subject3" v-text="settingcomment.subject3"></option>
                <option value="subject4" v-text="settingcomment.subject4"></option>
              </select>
            </div>
          </v-col>
          <v-col v-if="activetab==true" md="6" lg="6" sm="12" xs="12" cols="12">
            <div>
              <div class="mt-4 text-right">
                <div class="mt-4">
                  <v-text-field required v-model="re.lastname" :placeholder="$t('LastName')"></v-text-field>
                </div>
                <div>
                  <v-text-field required type="email" v-model="re.Email" :placeholder="$t('Email')"></v-text-field>
                </div>
                <div class="mt-4" style="    text-align: left;">
                  <v-text-field
                    required
                    type="email"
                    v-model="re.country"
                    :placeholder="$t('Country')"
                  ></v-text-field>
                </div>
              </div>
            </div>
            <div class="mt-4"></div>
          </v-col>
          <v-col v-if="activetab==true" cols="12">
            <v-textarea required v-model="re.text" :label="$t('description')" />
            <v-btn  @click="sendrequest" type="submit">{{ $t('send') }}</v-btn>
          </v-col>
        </v-row>

        <v-alert v-if="backdata!=null" prominent type="success">{{ backdata }}</v-alert>
      </form>
    </div>
  </div>
</template>

<script>
import json from "~/locales/listcountry.json";

export default {
  name: "Request",
  props: ["page"],
  data() {
    return {
      backdata: null,
      activetab: false,
      show: false,
      shows: false,
      settingcomment: null,
      country: json,
      error: null,
      re: {
        name: null,
        lastname: null,
        email: null,
        mode: "normal",
        phone: null,
        country: null,
        subject: null,
        text: null,
        page: this.page
      }
    };
  },
  methods: {
    resetfomt() {
      this.re = {
        name: null,
        lastname: null,
        email: null,
        mode: "normal",
        phone: null,
        country: null,
        subject: null,
        text: null,
        page: this.page
      };
    },
    sendrequest() {
      let that = this;
      that.$axios
        .post(this.$url + "comment", this.re)
        .then(function(res) {
          that.backdata = that.$t("Request  Sending Success");
          that.resetfomt();
        })
        .catch(error => {
          that.error = error.errors;
        });
    },
    loadsettingcomment() {
      let that = this;
      this.$axios
        .get(this.$url + "commentsetting/" + this.$i18n.locale)
        .then(function(res) {
          that.settingcomment = res.data;
        });
    }
  },
  beforeMount() {
    this.loadsettingcomment();
  }
};
</script>

<style scoped>
.text-black {
  color: #333333;
  margin-top: 20px;
  font-weight: bold;
}
.text-white {
}
.whatssappcycle {
  background-color: rgba(177, 255, 229, 0.65);
  padding: 25px;
  border-radius: 15px;
  width: 100%;
  text-align: center;
  padding-top: 25px;
}
.whatssappcycle2 {
  width: 150px;
  height: 150px;
  background-color: rgba(4, 183, 127, 0.3);
  border: dashed 1px #333333;
  margin-top: -70px;
  overflow: hidden;
  border-radius: 100%;
}
.mt-4 {
  margin-top: 40px;
}
.w-100 {
  width: 100%;
}

.primarys {
  background-color: red !important;
  color: #fff !important;
  font-weight: bold;
}
</style>
