<template>
  <div>
    <a :href="localePath('/article/' + item.url)">
      <vs-card style="text-align: center; margin-bottom: 100px" class="mb-4">
        <template #title>
          <h3>{{ item.name }}</h3>
        </template>
        <template #img>
          <template v-if="item.image == null">
            <img class="imgservice" src="/noimage.png" />
          </template>
          <template v-else>
            <v-img
              v-if="item.image == 'thump.png'"
              class="white--text align-end"
              height="200px"
              :src="$storage + '/media/Articles/' + item.id + '/thump.png'"
            >
            </v-img>
            <v-img
              v-else
              class="white--text align-end"
              height="200px"
              :src="
                $storage + '/media/Articles/' + item.id + '/thump/' + item.image
              "
            >
            </v-img>
          </template>
        </template>
        <template #text>
          <p style="height: 70px">
            <template v-if="item.description != null">
              {{
                item.description != "null"
                  ? item.description.substring(0, 50) + "..."
                  : ""
              }}
            </template>
          </p>
        </template>
      </vs-card>
    </a>
  </div>
</template>

<script>
export default {
  props: ["item"],
};
</script>

<style scoped>
h3 {
  text-align: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}
</style>