<template>
  <div class="container-fluid mt-3">
    <BlogShow :url="servicegroup[$i18n.locale]" ></BlogShow>
  </div>
</template>

<script>
import BlogShow from "~/components/view/BlogShow";
export default {
  name: "services",
  components: {BlogShow},
  data(){
    return{
      servicegroup:{
        en:'news',
        fa:'newsfa',
        ar:'newsar',
        tr:'newstr',
      },
    }
  },
  beforeMount() {


  }
}
</script>

<style scoped>

</style>
