<template>
  <div class="app">

    <div class="center example-nav "  >
      <vs-navbar not-line center-collapsed v-model="active">
        <template #right>
          <vs-button class="myivod" @click="activeSidebar = !activeSidebar" flat icon>
            <i class='bx bx-menu'></i>
          </vs-button>
        </template>
        <template #left>
          <img src="/logo.png"  style="margin: 15px;" width="100px" alt="">
            <vs-navbar-item  href="https://tourismangels24.com" :active="active == $t('Home')" :id="$t('Home')"> <img class="bi4" width="30" src="/lang/en.jpg"> </vs-navbar-item>
            <vs-navbar-item  href="https://fa.tourismangels24.com/" :active="active == $t('Home')" :id="$t('Home')"> <img class="bi4" width="30" src="/lang/fa.jpg"> </vs-navbar-item>
            <vs-navbar-item  href="https://ar.tourismangels24.com/" :active="active == $t('Home')" :id="$t('Home')"> <img class="bi4" width="30" src="/lang/ar.jpg"> </vs-navbar-item>
            <vs-navbar-item  href="https://tr.tourismangels24.com/" :active="active == $t('Home')" :id="$t('Home')"> <img class="bi4" width="30" src="/lang/tr.jpg"> </vs-navbar-item>



        </template>
        <template>
          <div :dir="$t('dirs')">
            <vs-navbar-item  :href="localePath('/')" :active="active == $t('Home')" :id="$t('Home')"> {{  $t('Home') }}  </vs-navbar-item>
            <vs-navbar-item  :href="localePath('/ContactUs')" :active="active == $t('ContactUs')" :id="$t('ContactUs')"> {{  $t('ContactUs') }}  </vs-navbar-item>
            <vs-navbar-item   :href="localePath('/AboutUs')"  :active="active == $t('AboutUs')" :id="$t('Home')"> {{  $t('AboutUs') }}  </vs-navbar-item>
            <vs-navbar-item  :href="localePath('/Blog')"  :active="active == $t('Blog')" :id="$t('Blog')"> {{  $t('Blog') }}  </vs-navbar-item>
            <vs-navbar-item :href="localePath('/pricelist')"  :active="active == $t('pricelist')" :id="$t('pricelist')"> {{  $t('pricelist') }}  </vs-navbar-item>
            <vs-navbar-item  :href="localePath('/Services')" :active="active == $t('Services')" :id="$t('Home')"> {{  $t('Services') }}  </vs-navbar-item>

          </div>
        </template>
      </vs-navbar>

    </div>
  <Nuxt />
    <vs-sidebar
      absolute
      v-model="active"
      :open.sync="activeSidebar"
    >
      <template #logo>
        <img src="/logo.png"  style="margin: 15px;"  alt="">

      </template>
      <vs-navbar-item  :href="localePath('/')" :id="$t('Home')"> {{  $t('Home') }}  </vs-navbar-item>
      <vs-navbar-item  :href="localePath('/ContactUs')"  :id="$t('ContactUs')"> {{  $t('ContactUs') }}  </vs-navbar-item>
      <vs-navbar-item   :href="localePath('/AboutUs')"  :id="$t('Home')"> {{  $t('AboutUs') }}  </vs-navbar-item>
      <vs-navbar-item  :href="localePath('/Blog')"   :id="$t('Blog')"> {{  $t('Blog') }}  </vs-navbar-item>
      <vs-navbar-item :href="localePath('/pricelist')"   :id="$t('pricelist')"> {{  $t('pricelist') }}  </vs-navbar-item>
      <vs-navbar-item  :href="localePath('/Services')" :id="$t('Home')"> {{  $t('Services') }}  </vs-navbar-item>

      <template #footer>
   
        <vs-row justify="space-between" :dir="$t('dir')">
      
        </vs-row>
      </template>
    </vs-sidebar>
           <div class="mtirws">

        </div>
      <footer v-if="setting!=null" class="pa-3" style="padding: 45px;">
          
        <v-row  class="pa-3">
          <v-col  md="4" xs="12" cols :dir="$t('dir')" >
            <div class="ffff"  >
              <div v-html="setting.address"></div>

            </div>


          </v-col>
          <v-col  md="4" xs="12" cols >
            <ul>
              <li><a   class=" icofont-phone " > {{ setting.phone }}</a></li>
              <li><a   class=" icofont-support " > {{ setting.supportphone }}</a></li>
              <li><a   class=" icofont-telegram " > {{ setting.telegram }}</a></li>
            </ul>


          </v-col>
          <v-col  md="4" xs="12" cols  >
            <ul>
              <li><a   class=" icofont-whatsapp " > {{ setting.whatsapp }}</a></li>
               <li><a   class=" icofont-email " >info@tourismangels24.com</a></li>

            </ul>
          </v-col>
          <div  v-if="setting!=null" class="testt pa-3">
            <a :href="setting.instagram" class=" icofont-instagram icofont-2x " ></a>
            <a   :href="setting.twitter" class=" icofont-twitter icofont-2x " ></a>
            <a  :href="setting.whatsapp"  class=" icofont-whatsapp icofont-2x " ></a>
            <a  :href="setting.linkedin"  class="icofont-linkedin  icofont-2x" ></a>
            <a  :href="setting.youtube"  class="icofont-youtube  icofont-2x" ></a>
            <a  :href="setting.facbook"  class="icofont-facebook  icofont-2x" ></a>
            <a  :href="setting.TikTok"   ><img src="/tiktok.png" width="20"> </a>
            <a  :href="setting.aparat"   ><img src="/apaprat.png" width="20"> </a>

          </div>
        </v-row>
      </footer>

    <script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="efb6efdc-5370-440b-a7f4-fbc07f0bc914";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
    <div class="statisloaction">
      <a href="https://wa.link/driw8n">
        <img v-if="$i18n.locale=='en'" src="/enwhat.png" width="200px">
        <img v-if="$i18n.locale=='fa'" src="/fawhat.png" width="200px">
        <img v-if="$i18n.locale=='ar'" src="/arwhat.png" width="200px">
        <img v-if="$i18n.locale=='tr'" src="/trwhat.png" width="200px">
      </a>
      <hr>

    </div>

  </div>

</template>
<script>

export default {
  data:()=>({
    active: 'home',
    activeSidebar: false,
    setting:null,
    service:null,
    footer:null,
    mission:{
      en:'our_mission_en',
      fa:'our_mission_en',
      ar:'our_mission_en',
    },
    services:{
      en:'sectionen',
      fa:'sectionfa',
      ar:'sectionar',
    }
  }),
  methods:{
    loadsetting(){

      let that=this;
      that.$axios.get(this.$url+'contactus',{
        params:{
          lang:that.$i18n.locale
        }
      })
        .then(function (response) {
          that.setting=response.data;
        })

    }
  },
  beforeMount() {
  },
  mounted() {
    this.loadsetting();
  }

}
</script>
<style  >
@import "~/assets/icofont/icofont.min.css";
footer{
  background-color: #526488;
  padding:1%;
  color: #fff;
  min-height: 250px;

}
@media only screen and (max-width: 600px) {
  footer{

    min-height: 500px;

  }
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url('/fonts/eot/dana-thin.eot');
  src: url('/fonts/eot/dana-thin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('/fonts/woff2/dana-thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/woff/dana-thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: 'dana VF';
  src: url('/fonts/vairable/danawebGX.woff') format('woff-variations'),
    /* will be the standard and works in Safari now */
  url('/fonts/vairable/danawebGX.woff') format('woff');
  /* for the other supporting browsers */
  font-display: fallback;
}
html *{
  font-family: 'dana VF', dana, tahoma;
}

.ffff *{
  color: #fff;
  text-decoration: none;
}
ul li{
  font-family: 'dana VF', dana;
  list-style:none;
}
.statisloaction {
  position: fixed;
  bottom: 0px;
  left: 30px;
  right: 30px;


}
.statisloaction a{
  background-color: #c3c3c3;
  border-radius: 45%;
}
.testt{
  text-align: center;
  width: 100%;
  bottom: 0px;;
}
.testt *{
 color: #FFFFFF;
}
.testt *{
 background-color: transparent !important;
  text-decoration: none;
  font-size: 20px;
}
.testt{

}

@media only screen and (max-width: 600px) {
  .myivod{
  right: 40px;
  top:-20px;
  position: relative;
}
.bi4{
  margin-top:40px;
}
}
.mtirws{ width: 100%;height:40px; overflow: hidden;background-color:rgb(1, 1, 44);}
</style>
