<template>
  <div class="container-fluid mt-3">
    <BlogShowMaster :url="servicegroup[$i18n.locale]" ></BlogShowMaster>
  </div>
</template>

<script>
import BlogShowMaster from "~/components/view/BlogShowMaster";
export default {
  name: "services",
  components: {BlogShowMaster},
  data(){
    return{
      servicegroup:{
        en:'BlogEn',
        fa:'BlogFa',
        ar:'BlogAr',
        tr:'BlogTr',
      },
    }
  },
  beforeMount() {


  }
}
</script>

<style scoped>

</style>
