<template>
  <div class="mytitletext">
    <div class="container mt-3" style="margin-top: 100px">
      <div style="width: 100%">
        <h1
          class="text-center"
          style="text-align: center"
          v-text="article.data.name"
        ></h1>
        <hr />
      </div>
      <show-article class="mt-4" :text="article.data.text"></show-article>
      <div class="ma-3" style="margin-top:20px;margin-bottom:20px; ">
    <template v-for="(i, index) in article.data.tag">
          <v-chip :to="'/tagarticle/' + i.name" :key="index" class="ma-1 ddddd">
            {{ i.name }}
          </v-chip>
        </template>

        </div>
     
      <div class="mt-3">
        <template>
          <v-row>
            <v-col
              cols="12"
              md="3"
              :key="index"
              v-for="(item, index) in article.data.likedarticle"
            >
              <thumpnail :item="item"></thumpnail>
            </v-col>
          </v-row>
        </template>
     
      </div>
    </div>
  </div>
</template>

<script>
import ShowArticle from "~/components/view/articleshows";
import thumpnail from "~/components/view/thumpnail.vue";

export default {
  name: "index",
  components: { ShowArticle, thumpnail },
  watch: {
    $vssWidth: function (val) {
          var x = document.querySelectorAll(".mytitletext img");

      if (this.$vssWidth < 600) {
        for (let i = 0; i < x.length; i++) {
          x[i].style.width = "100%";
          x[i].style.height = null;
        }
      }
    },
  },
  mounted() {
    var x = document.querySelectorAll(".mytitletext img");
    if (this.$vssWidth < 600) {
      for (let i = 0; i < x.length; i++) {
        x[i].style.width = "100%";
        x[i].style.height = null;
      }
    }
  },
  async asyncData({ app, params, $axios, $i18n }) {
    try {
      let url = encodeURI(app.$url + "article/" + params.url);
      let article = await $axios.$get(url, {
        params: {
          lang: app.i18n.locale,
        },
      });
      return {
        article,
      };
    } catch (error) {}
  },

  head() {
    return {
      title: this.article.data.name,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: this.article.data.description,
        },
        {
          hid: "keywords",
          name: "keywords",
          content: this.article.data.keywords,
        },
        { hid: "twitter:title", content: this.article.data.name },
        { hid: "og:title", content: this.article.data.name },
        { hid: "twitter:description", content: this.article.data.description },
        { hid: "og:description", content: this.article.data.keywords },
        {
          hid: "og:image",
          content:
            this.$storage +
            "/media/blog/" +
            this.article.data.id +
            "/thump/" +
            this.article.data.image,
        },
        {
          hid: "twitter:image",
          content:
            this.$storage +
            "/media/blog/" +
            this.article.data.id +
            "/thump/" +
            this.article.data.image,
        },
      ],
    };
  },
};
</script>

<style scoped>
.ddddd{
  background-color: blue !important;
  color:#fff !important;
  margin: 1px !important;
}
.mt-4 {
  margin-top: 40px;
}
</style>
