<template>
<div class="text-center">
  <hr>
  <div class="container">
    <div style="width: 100%;" class="text-center">
      <img src="/iran.png"  width="80%" class="animate__animated animate__delay-1s animate__zoomIn">

    </div>

    <show-article :text="article.data.text"></show-article>

  </div>
</div>
</template>

<script>
    import ShowArticle from "~/components/view/articleshow";
    export default {
      name: "aboutus",
      components: {ShowArticle},

      async asyncData({ app,$axios  }) {

        try {
          let about= {
            en: 'Abouten',
            fa: 'anoutfa',
            ar: 'Aboutar',
            tr: 'Abouttr',
          };
         let address= app.$url+'article/' + about[app.i18n.locale];
          let article = await  $axios.$get(address)
          return {
            article
          }
        }

        catch(error){
          console.log(error);
        }

      },
      head () {
        return {
          title: this.article.data.name,
          meta: [
            { hid: 'description', name: 'description', content:this.article.data.description },
            { hid: 'keywords', name: 'keywords', content:this.article.data.keywords },
            { hid: 'twitter:title',  content:this.article.data.name },
            { hid: 'og:title',  content:this.article.data.name },
            { hid: 'twitter:description',  content:this.article.data.description },
            { hid: 'og:description',content:this.article.data.keywords },
            { hid: 'og:image',content:this.$storage+'/media/Articles/'+this.article.data.id+'/thump/'+this.article.data.image },
            { hid: 'twitter:image',content:this.$storage+'/media/Articles/'+this.article.data.id+'/thump/'+this.article.data.image },
          ]
        }
      }
    }
</script>

<style scoped>

</style>
