<template>
  <v-container>
    <v-form :dir="dir" @submit.prevent="sendrequest" id="requestformbiuty " style="padding-top: 100px;">
      <v-row class="text-center">
        <v-col cols="12">
          <h1 v-text="$t('Send Request')+' '+$t('Beauty service')"></h1>
          <hr>

        </v-col>
        <v-col cols="6"><v-text-field required :label="$t('name')" v-model="health.name"></v-text-field> </v-col>
        <v-col cols="6">
          <label>{{ $t('Countryoforigin') }}</label>
          <v-select    v-model="health.required"  required   :options="country" label="name"></v-select>
        </v-col>
        <v-col cols="6"  v-if="pricelist!=null">
          <span  v-text="$t('Beauty surgery And others')"></span>
          <v-radio-group   required v-model="health.cs">
            <v-radio
              v-for="(i,index) in pricelist.su"
              :key="index"
              :label="i[langite[$i18n.locale]]"
              :value="i"
            ></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="6"  v-if="pricelist!=null">
          <span  v-text="$t('Package')"></span>
          <v-radio-group  required v-model="health.pk">
            <v-radio
              v-for="(i,index) in pricelist.pk"
              :key="index"
              :label="i[langite[$i18n.locale]]"
              :value="i"
            ></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="3"  v-if="pricelist!=null">
          <v-text-field  required type="number" :label="$t('Number of adults')" v-model="health.adults"></v-text-field>
        </v-col>
        <v-col cols="3"  v-if="pricelist!=null">
          <v-text-field  type="number" :label="$t('Number of kids')" v-model="health.kids"></v-text-field>
        </v-col>
      </v-row>
      <div class="row">


        <div class="col-sm-12 text-left " style="color:red;" v-text="$t('Other Services')"></div>
        <div class="form-group col-sm-12 text-left">
          <input    @change="calhelat"  v-model="health.Visa" class="form-check-input" type="checkbox" >
          <label v-text="$t('Visa')"></label>
          <br>

          <input    @change="calhelat" v-model="health.Ticket" class="form-check-input" type="checkbox" >
          <label v-text="$t('Ticket')"></label>
          <template v-if="health.Ticket==true">
            <br>


            <input    v-model="health.TwoSideTicket" value="TwoSideTicket" class="form-check-input" type="radio" >
            <label v-text="$t('OneSideTicket')"></label>
            <br>
            <input    v-model="health.TwoSideTicket"  class="form-check-input" type="radio" >
            <label v-text="$t('TwoSideTicket')"></label>

          </template>
          <br>
          <input   @change="calhelat" v-model="health.Trans" class="form-check-input" type="checkbox" >
          <label v-text="$t('Translator')"></label>
        </div>


        <div class="col-sm-12 text-left " style="color:red;" v-text="$t('FreeServices')"></div>
        <hr>
        <div class="form-group col-sm-12 col-xs-12 text-left" v-if="pricelist!=null">
          <div class="form-group">

            <input  v-model="health.Consulting" class="form-check-input" type="checkbox" >
            <label v-text="$t('Internet consulting / telemedicine(online multimedia medical consulting)')"></label>
          </div>
          <div class="form-group">
            <input  v-model="health.hotel" class="form-check-input" type="checkbox" >
            <label v-text="$t('Medical services at the hotel about your recent illnesses in iran')"></label>
          </div>
          <div class="form-group">
            <input  v-model="health.electronimedicalcases" class="form-check-input" type="checkbox" >
            <label v-text="$t('electronimedicalcases')"></label>
          </div>

          <div class="form-group">
            <input  v-model="health.MedicalDigital"  class="form-check-input" type="checkbox" >
            <label v-text="$t('Registering in macremedy24 digital online hospital')"></label>
          </div>

        </div>

        <div class="form-group col-sm-6 col-xs-12 text-left">
          <v-text-field  required type="email" :label="$t('mail')" v-model="health.email"></v-text-field>


        </div>
        <div class="form-group col-sm-6 col-xs-12 text-left">
          <v-text-field  required :label="$t('whatsapp')" v-model="health.whatsapp"></v-text-field>

        </div>
        <div class="form-group col-sm-12 col-xs-12 mt-3 text-center">
          <v-textarea required :label="$t('description')" v-model="health.description"  ></v-textarea>

          <small>  {{ commentpricehealt }}</small>
          <div> Price : {{ pricehealt }} $ </div>
          <v-btn type="submit" >{{ $t('Send Request') }}</v-btn>
        </div>

      </div>

    </v-form>
    <v-alert
      v-if="backdata!=null"
      prominent
      type="success"
    >{{ backdata }}</v-alert>
  </v-container>
</template>


<script>

import showarticle from '~/components/view/showarticle';
import cardbox from "~/components/view/cardbox";
import json from '~/static/listcountry.json';

export default {
  name: "IBHS",
  data(){

    return{
      backdata:null,

      tab:null,
      country: json,

      blog:{
        Therapeutic:null,
        Beauty:null,
        Checkup:null,

      },
      biuty:{
        name:null,
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,

      },
      Checkup:{
        name:null,
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,

      },
      health:{
        name:null,
        mode:'Biuty',
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,
        su:null,
        pk:null,
        adults:0,
        kids:0,
        Consulting:false,
        hotel:false,
        MacRemedy24:false,
        MedicalDigital:false,
        Visa:false,
        Ticket:false,
        TwoSideTicket:false,
      },
      groups:{
        0:{name:this.$t('Nursing Care')},
        1:{name:this.$t('Nursing and medical clinical care')},
        2:{name:this.$t('Department_of_specialized _clinics')},
        3:{name:this.$t('Medical Equipment')},
        4:{name:this.$t('Traditional medicine clinic')},
        5:{name:this.$t('Psychology Clinic')},
        6:{name:this.$t('Womens Clinic')},
        7:{name:this.$t('Family Clinic')},
        8:{name:this.$t('Ostomic bed sores heal')},
        9:{name:this.$t('Imaging')},
        10:{name:this.$t('Laboratory')},
        11:{name:this.$t('Clinic Rehabilitation')},
        12:{name:this.$t('beauty clinic')},
        13:{name:this.$t('Other')},
      },
      Therapeutic:{
        fa:'Therapeuticfa',
        en:'Therapeutic',
        ar:'Therapeuticar',
        tr:'Therapeutictr',
      },
      Beauty:{
        fa:'biutyfa',
        en:'Beauty',
        ar:'biutyar',
        tr:'biutytr',
      },
      Checkups:{
        fa:'Checkupfa',
        en:'Checkup',
        ar:'checkupar',
        tr:'CheckupTR',
      },
      langite:{
        fa:'faname',
        en:'enname',
        tr:'trname',
        ar:'arname',
      },
      pricelist:null,
      pricehealt:0,
      commentpricehealt:null,

    }
  },
  components:{
    showarticle,cardbox
  },
  watch:{
    health:function(item){
      this.calhelat();
    }
  },

  methods:{
    resetfomt(){
      this.health={
        name:null,
        mode:'Biuty',
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,
        su:null,
        pk:null,
        adults:0,
        kids:0,
        Consulting:false,
        hotel:false,
        MacRemedy24:false,
        MedicalDigital:false,
        Visa:false,
        Ticket:false,
        TwoSideTicket:false,
      }
    },
    sendrequest(){
      let that=this;
      that.$axios.post(this.$url+'comment',this.health)
        .then(function (res) {
          that.backdata=that.$t('Request  Sending Success');
          that.resetfomt();
        }) .catch((error) => {
        that.error=error.errors;
      });
    },
    calhelat(){
      let price=0;
      this.commentpricehealt="";
      if(this.health.su!=null){
        price=this.health.su.price+price;
        this.commentpricehealt=this.commentpricehealt+"  Service : "+this.health.su.price;

      }
      if(this.health.pk!=null){
        price=this.health.pk.price+price;
        this.commentpricehealt=this.commentpricehealt+"  Package : "+this.health.pk.price;

      }

      if(this.health.trans!=false){
        price=this.pricelist.price.trans+price;
        this.commentpricehealt=this.commentpricehealt+"  Translator : "+this.pricelist.price.trans;

      }
      if(this.health.Visa!=false){
        price=this.pricelist.price.visa+price;
        this.commentpricehealt=this.commentpricehealt+"  Visa : "+this.pricelist.price.visa;

      }
      if(this.health.Ticket!=false){
        price=this.pricelist.price.visa+price;
        this.commentpricehealt=this.commentpricehealt+" Without Ticket ";

      }
      this.pricehealt=price;


    },
    clickopen(url){
      location.href='/'+this.$i18n.locale+'/medic/'+url;
    },
    loadarticle(){
      let self=this;
      self.$axios.get(this.$url+'blog/'+this.Therapeutic[this.$i18n.locale],
        {
          params:{
            perpage:100
          }
        }


      )
        .then(function (res) {
          self.blog.Therapeutic  =res.data;
        });
      self.$axios.get(this.$url+'blog/'+this.Beauty[this.$i18n.locale],
        {
          params:{
            perpage:100
          }
        }
      )
        .then(function (res) {
          self.blog.Beauty=res.data;
        });
      self.$axios.get(this.$url+'blog/'+this.Checkups[this.$i18n.locale],  {
          params:{
            perpage:100
          }
        }
      )
        .then(function (res) {
          self.blog.Checkup=res.data;
        });
      self.$axios.get(this.$url+'request')
        .then(function (res) {
          self.pricelist=res.data;
        });
    }

  },
  mounted(){
    this.loadarticle();

  },
  head () {
    return {
      title: this.$t('International Beauty and Health Services'),
      meta: [
        { hid: 'description', name: 'description', content:this.$t('International Beauty and Health Services') },
        { hid: 'keywords', name: 'keywords', content:this.$t('International Beauty and Health Services') },
        { hid: 'twitter:title',  content:this.$t('International Beauty and Health Services')},
        { hid: 'og:title',  content:this.$t('International Beauty and Health Services') },
        { hid: 'twitter:description',  content:this.$t('International Beauty and Health Services') },
        { hid: 'og:description',content:this.$t('International Beauty and Health Services') },
        { hid: 'og:image',content:'https://tourismangels24.com/logo.png' },
        { hid: 'twitter:image',content:'https://tourismangels24.com/logo.png' },
      ]
    }
  }
}
</script>
<style scoped>

</style>
