<template>
    <div class="container">
      <img src="/com.jpg">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <show-article :text="abouttext.text"></show-article>
        </div>
        <div class="col-sm-6 col-xs-12">
          <form @submit.prevent="save" class="mt-5">
            <div class="form-group">
              <label>{{ $t('name') }}</label>
              <input class="form-control" v-model="data.name">
            </div>
            <div class="form-group">
              <label>{{ $t('email') }}</label>
              <input class="form-control" v-model="data.email">
            </div>
            <div class="form-group">
              <label>{{ $t('description') }}</label>
              <textarea class="form-control" v-model="data.description"></textarea>
            </div>
            <div >
              <input  class="btn btn-dark" type="submit" :value="$t('send')">
            </div>
          </form>
        </div>
      </div>


    </div>
</template>

<script>
import ShowArticle from "~/components/view/articleshow";

export default {
  name: "terms",
  components: {ShowArticle},
  data() {
    return {
      abouttext: {},
      data:{
        name:null,
        email:null,
        whatsapp:null,
        description:null
      },
      about: {
        en: 'comen',
        fa: 'comfa',
        ar: 'comar',
        tr: 'comtr',
      },
    }
  },
  methods:{
    save(){
      let that=this;
      this.$axios.post
    }
  },
  beforeMount() {
   // this.$i18n.locale = this.$route.params.lang;

    let self = this;
    self.$axios.get(this.$url + 'article/' + this.about[this.$i18n.locale])
        .then(function (res) {
          self.abouttext = res.data.data;
        });

  },
  head () {
    return {
      title: this.abouttext.name,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content:this.abouttext.name },
        { hid: 'keywords', name: 'keywords', content:this.abouttext.name },
      ]
    }
  }

}
</script>

<style scoped>

</style>
