<template>
  <div class="container mt-3 mb-3 p-5">
    <img src="/contact.svg" class="w-100 animate__animated animate__bounceInUp">
    <ul class="list-group list-group-flush" style="width: 100%;">
      <li class="text-bold"><strong><span class="icofont-location-pin"></span> <span v-html="$t('address')"></span>:</strong></li>
      <li v-text="setting.address"></li>
      <hr>
      <li class="text-bold"><strong><span class="icofont-phone"></span> <span v-text="$t('phone')"></span>:</strong></li>
      <li v-text="setting.phone"></li>
      <hr>
      <li class="text-bold"><strong><span class="icofont-instagram"></span> <span v-text="$t('intagram')"></span>:</strong></li>
      <li v-text="setting.instagram"></li>
      <hr>
      <li class="text-bold"><strong><span class="icofont-whatsapp"></span> <span v-text="$t('whatsapp')"></span>:</strong></li>
      <li v-text="setting.whatsapp"></li>
    </ul>
  </div>
</template>

<script>
    export default {
      name: "contactus",

      async asyncData({ app,$axios ,$i18n }) {
        try {

          let setting = await  $axios.$get(app.$url+'contactus',{
            params: {
              lang:app.i18n.locale
            }
          })
          return {
            setting
          }
        }

        catch(error){
        }

      },
      head () {
        return {
          title: this.$t('ContactUs'),
          meta: [
            // hid is used as unique identifier. Do not use `vmid` for it as it will not work
           { hid: 'description', name: 'description', content:this.setting.address },
            { hid: 'keywords', name: 'keywords', content:this.setting.whatsapp },
           { hid: 'twitter:title',  content:this.$t('ContactUs') },
            { hid: 'og:title',  content:this.$t('ContactUs') },
             { hid: 'twitter:description', content:this.setting.address },
          { hid: 'og:description',content:this.setting.whatsapp },
           { hid: 'og:image',content:'https://tourismangels24.com/logo.png' },
            { hid: 'twitter:image',content:'https://tourismangels24.com/logo.png' },
          ]
        }
      }
    }
</script>

<style scoped>
.list-group li{list-style: none;}
</style>
