<template>
  <div style="margin-top: 100px;">
    <v-container class=" mt-2 mb-5" v-if="blog.Therapeutic!=null">

      <v-card color="basil" class="mt-3">
        <v-card-title class="text-center justify-center py-6">
          <h1 class="font-weight-bold display-3 basil--text">
            {{ $t('International Beauty and Health Services') }}
          </h1>
        </v-card-title>

        <v-tabs
          v-model="tab"
          background-color="transparent"
          color="basil"
          grow
        >
          <v-tab key="Trapy"   >{{  $t('Therapeutic') }}   </v-tab>
          <v-tab key="Beauty"   >{{  $t('Beauty service') }}   </v-tab>
          <v-tab key="Checkup"   >{{  $t('Checkup') }}   </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item    key="Trapy"  >
            <v-card
              color="basil"
              flat
            >
              <v-card-text v-if="blog.Therapeutic!=null">
                <div v-html="blog.Therapeutic.text"></div>
                <v-btn    color="primary"
                          elevation="2"
                          medium
                          style="background-color: blue;"
                          :href="'/Therapeutic'"
                >{{ $t('request') }}</v-btn>
                <v-row>
                  <v-col md="3" xs="12" v-for="(item,index) in blog.Therapeutic.article.data" :key="index">
                    <cardbox :item="item"></cardbox>
                  </v-col>

                </v-row>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item    key="Beauty"  >
            <v-card
              color="basil"
              flat
            >
              <v-card-text v-if="blog.Beauty!=null">
                <div v-html="blog.Beauty.text"></div>
                <v-btn    color="primary"
                          elevation="2"
                          medium
                          style="background-color: blue;"
                          :href="'/Beauty'"
                >{{ $t('request') }}</v-btn>
                <v-row>
                  <v-col md="3" xs="12" v-for="(item,index) in blog.Beauty.article.data" :key="index">
                    <cardbox :item="item"></cardbox>

                  </v-col>
                </v-row>

              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item    key="Checkup"  >
            <v-card

              v-if="blog.Checkup!=null"
              color="basil"
              flat
            >
              <v-card-text>
                <div v-html="blog.Checkup.text"></div>
                <v-btn    color="primary"
                          elevation="2"
                          medium
                          style="background-color: blue;"
                          :href="'/Checkup'"
                >{{ $t('request') }}</v-btn>
                <v-row>
                  <v-col  md="3" xs="12" v-for="(item,index) in blog.Checkup.article.data" :key="index">
                    <cardbox :item="item"></cardbox>

                  </v-col>
                </v-row>

              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>


      <hr>

      <div>
      </div>
    </v-container>
  </div>

</template>

<script>

import showarticle from '~/components/view/showarticle';
import cardbox from "~/components/view/cardbox";
import json from '~/static/listcountry.json';

export default {
  name: "IBHS",
  data(){
    return{
      tab:null,
      country: json,

      blog:{
        Therapeutic:null,
        Beauty:null,
        Checkup:null,

      },
      biuty:{
        name:null,
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,

      },
      Checkup:{
        name:null,
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,

      },
      health:{
        name:null,
        mode:'Trapy',
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,
        su:null,
        pk:null,
        adults:0,
        kids:0,
        Consulting:false,
        hotel:false,
        MacRemedy24:false,
        MedicalDigital:false,
        Visa:false,
        Ticket:false,
        TwoSideTicket:false,
      },
      groups:{
        0:{name:this.$t('Nursing Care')},
        1:{name:this.$t('Nursing and medical clinical care')},
        2:{name:this.$t('Department_of_specialized _clinics')},
        3:{name:this.$t('Medical Equipment')},
        4:{name:this.$t('Traditional medicine clinic')},
        5:{name:this.$t('Psychology Clinic')},
        6:{name:this.$t('Womens Clinic')},
        7:{name:this.$t('Family Clinic')},
        8:{name:this.$t('Ostomic bed sores heal')},
        9:{name:this.$t('Imaging')},
        10:{name:this.$t('Laboratory')},
        11:{name:this.$t('Clinic Rehabilitation')},
        12:{name:this.$t('beauty clinic')},
        13:{name:this.$t('Other')},
      },
      Therapeutic:{
        fa:'Therapeuticfa',
        en:'Therapeutic',
        ar:'Therapeuticar',
        tr:'Therapeutictr',
      },
      Beauty:{
        fa:'biutyfa',
        en:'Beauty',
        ar:'biutyar',
        tr:'biutytr',
      },
      Checkups:{
        fa:'Checkupfa',
        en:'Checkup',
        ar:'checkupar',
        tr:'CheckupTR',
      },
      langite:{
        fa:'faname',
        en:'enname',
        tr:'trname',
        ar:'arname',
      },
      pricelist:null,
      pricehealt:0,
      commentpricehealt:null,

    }
  },
  components:{
    showarticle,cardbox
  },
  watch:{
    health:function(item){
      this.calhelat();
    }
  },

  methods:{
    calhelat(){
      let price=0;
      this.commentpricehealt="";
      if(this.health.su!=null){
        price=this.health.su.price+price;
        this.commentpricehealt=this.commentpricehealt+"  Service : "+this.health.su.price;

      }
      if(this.health.pk!=null){
        price=this.health.pk.price+price;
        this.commentpricehealt=this.commentpricehealt+"  Package : "+this.health.pk.price;

      }

      if(this.health.trans!=false){
        price=this.pricelist.price.trans+price;
        this.commentpricehealt=this.commentpricehealt+"  Translator : "+this.pricelist.price.trans;

      }
      if(this.health.Visa!=false){
        price=this.pricelist.price.visa+price;
        this.commentpricehealt=this.commentpricehealt+"  Visa : "+this.pricelist.price.visa;

      }
      if(this.health.Ticket!=false){
        price=this.pricelist.price.visa+price;
        this.commentpricehealt=this.commentpricehealt+" Without Ticket ";

      }
      this.pricehealt=price;


    },
    clickopen(url){
      location.href='/'+this.$i18n.locale+'/medic/'+url;
    },
    loadarticle(){
      let self=this;
      self.$axios.get(this.$url+'blog/'+this.Therapeutic[this.$i18n.locale],
        {
          params:{
            perpage:100
          }
        }


      )
        .then(function (res) {
          self.blog.Therapeutic  =res.data;
        });
      self.$axios.get(this.$url+'blog/'+this.Beauty[this.$i18n.locale],
        {
          params:{
            perpage:100
          }
        }
      )
        .then(function (res) {
          self.blog.Beauty=res.data;
        });
      self.$axios.get(this.$url+'blog/'+this.Checkups[this.$i18n.locale],  {
          params:{
            perpage:100
          }
        }
      )
        .then(function (res) {
          self.blog.Checkup=res.data;
        });
      self.$axios.get(this.$url+'request')
        .then(function (res) {
          self.pricelist=res.data;
        });
    }

  },
  mounted(){
    this.loadarticle();

  },
  head () {
    return {
      title: this.$t('International Beauty and Health Services'),
      meta: [
        { hid: 'description', name: 'description', content:this.$t('International Beauty and Health Services') },
        { hid: 'keywords', name: 'keywords', content:this.$t('International Beauty and Health Services') },
        { hid: 'twitter:title',  content:this.$t('International Beauty and Health Services')},
        { hid: 'og:title',  content:this.$t('International Beauty and Health Services') },
        { hid: 'twitter:description',  content:this.$t('International Beauty and Health Services') },
        { hid: 'og:description',content:this.$t('International Beauty and Health Services') },
        { hid: 'og:image',content:'https://tourismangels24.com/logo.png' },
        { hid: 'twitter:image',content:'https://tourismangels24.com/logo.png' },
      ]
    }
  }
}
</script>

<style scoped>
.dddds{
  font-size:16px; margin-top: 10px; color: #333333;
  font-family: Arial, Ubuntu !important;
}
</style>
