<template>
  <div>
    <carousel
      v-if="firstpage.gallery"
      class="myitemss"
      :nav="false"
      :autoplay="true"
      :key="10"
      :items="1"
    >
      <div
        v-for="(i, index) in firstpage['gallery']['todetail']"
        class="sliderscars"
        :key="index"
        :style="{
          backgroundImage:
            'url(' +
            $storage +
            '/media/gallery/' +
            i.id +
            '/medium/' +
            i.file +
            ')',
        }"
      ></div>
    </carousel>
    <div class="miii"></div>
    <div class="blubox">
      <h1 class="text-center">{{ $t("tourismangels24") }}</h1>
      <h2 class="text-center smmfont">{{ $t("Medical Tourism In Iran") }}</h2>
      <div class="center" style="width: 100%; text-align: center">
        <vs-button      
        style="display:inline;width: 200px;" 
        :href="i.url"
        :key="index2"
          v-for="(i,index2)  in firstpage['toursimmenu']['to_sub']" 
          > {{ i.name }}   </vs-button>
      </div>
      <div class="myitemsservice">
        <h4 class="titlems">{{ firstpage["service"][0]["name"] }}</h4>
      </div>
      <div class="center" style="width: 100%; text-align: center">
        <vs-button
          class="mtwidth100"
          shadow
          :key="index"
          :href="i.url"
          v-for="(i, index) in firstpage['medmenu']['to_sub']"
          style="display: inline"
        >
          {{ i.name }}
        </vs-button>
      </div>
    </div>

    <div></div>
    <div class="content__default2 mt-3">
      <div class="center grid content__default">
        <div class="blueline">
          <h2 class="text-center">{{ firstpage["service"][0]["name"] }}</h2>
        </div>
        <v-row class="mt-3">
          <v-col
            cols="12"
            sm="3"
            xs="6"
            class="mythumpnail"
            :key="index"
            v-for="(item, index) in firstpage['service'][0]['to_article']"
          >
            <vs-card type="4">
              <template #title>
                <a
                  style="text-decoration: none"
                  :href="localePath('/article/' + item.url)"
                >
                  <h3
                    style="
                      font-size: 10px;
                      text-decoration: none;
                      width: 100%;
                      color: black;
                      
                      text-decoration: none;
                    "
                  >
                    {{ item.name }}
                  </h3></a
                >
              </template>
              <template #img>
                <img
                  :alt="item.name"
                  :title="item.name"
                  :src="
                    $storage +
                    '/media/Articles/' +
                    item.id +
                    '/thump/' +
                    item.image
                  "
                  height="200"
                />
              </template>
              <template #text>
                <p></p>
              </template>
            </vs-card>
          </v-col>
        </v-row>
      </div>
    </div>
    <div class="center">
      <div class="content__default">
        <div class="blueline mb-4" style="margin-bottom: 20px">
          <h3 class="text-center">{{ firstpage["Therapeutic"][0]["name"] }}</h3>
        </div>
        <carousel
          class="myitemss"
          :autoplay="true"
          :responsive="{
            0: { items: 2, nav: false },
            600: { items: 6, nav: true },
          }"
          key="5"
        >
          <div
            :key="index"
            v-for="(i, index) in firstpage['Therapeutic'][0]['to_article']"
            style="padding: 15px"
          >
            <vs-card type="6">
              <template #title>
                <div style="height: 50px">
                  <a
                    style="color: black; text-decoration: none"
                    :href="localePath('/medic/' + i.url)"
                    class="span"
                  >
                    {{ i.name }}
                  </a>
                </div>
              </template>
              <template #img>
                <a :href="localePath('/medic/' + i.url)">
                  <img
                    v-if="i.image != 1 && i.image != null"
                    :alt="i.name"
                    :title="i.name"
                    :src="
                      $storage + '/media/Articles/' + i.id + '/thump/' + i.image
                    "
                    height="100px"
                  />
                  <img
                    v-if="i.image == 1 && i.image != null"
                    :alt="i.name"
                    :title="i.name"
                    :src="$storage + '/media/Articles/' + i.id + '/thump.png'"
                    height="100px"
                  />
                  <img
                    v-if="i.image == null"
                    :alt="i.name"
                    :title="i.name"
                    :src="$storage + '/media/Other/noimage.png'"
                    height="100px"
                  />
                </a>
              </template>
              <template #text>
                <p></p>
              </template>
            </vs-card>
          </div>
        </carousel>
      </div>
    </div>
    <div class="content__default2 mt-3">
      <div class="content__default">
        <div v-html="firstpage['about']['description']"></div>
        <v-btn href="/aboutus">{{ $t("readmore") }}</v-btn>
      </div>
    </div>
    <div class="center">
      <div class="blueline mb-4" style="margin-bottom: 20px">
        <h3 class="text-center">{{ firstpage["Beauty"][0]["name"] }}</h3>
      </div>

      <div class="content__default">
        <carousel
          class="myitemss"
          :autoplay="true"
          :responsive="{
            0: { items: 1, nav: true, dots: false },
            600: { items: 6, nav: false },
          }"
          key="5"
        >
          <div
            :key="index"
            v-for="(i, index) in firstpage['Beauty'][0]['to_article']"
            style="padding: 15px"
          >
            <vs-card type="6">
              <template #title>
                <div style="height: 50px">
                  <a
                    style="color: black; text-decoration: none"
                    :href="localePath('/medic/' + i.url)"
                    class="span"
                  >
                    {{ i.name }}
                  </a>
                </div>
              </template>
              <template #img>
                <a :href="localePath('/medic/' + i.url)">
                  <img
                    v-if="i.image != 1 && i.image != null"
                    :alt="i.name"
                    :title="i.name"
                    :src="
                      $storage + '/media/Articles/' + i.id + '/thump/' + i.image
                    "
                    height="100px"
                  />
                  <img
                    v-if="i.image == 1 && i.image != null"
                    :alt="i.name"
                    :title="i.name"
                    :src="$storage + '/media/Articles/' + i.id + '/thump.png'"
                    height="100px"
                  />
                  <img
                    v-if="i.image == null"
                    :alt="i.name"
                    :title="i.name"
                    :src="$storage + '/media/Other/noimage.png'"
                    height="100px"
                  />
                </a>
              </template>
              <template #text>
                <p></p>
              </template>
            </vs-card>
          </div>
        </carousel>
      </div>
    </div>
    <div class="text-center" style="width: 100%"></div>
    <div class="text-center">
      <div class="text-center myitem">
        <h4>{{ $t("Multi Media") }}</h4>
      </div>

      <div
        class=""
    
      >
        <div
          v-html="firstpage['youtube']['to_articlelimit'][0]['text']"
        ></div>
      </div>
      <div class="text-center">
        <v-btn
          style="background-color: red; color: #fff"
          :href="localePath('/video')"
          ><span class="icofont icofont-youtube"></span
          >{{ $t("seemore") }}</v-btn
        >
      </div>
    </div>
    <v-container>
      <v-row>
        <v-col cols="12" md="6" lg="6" sm="12" xs="12">
          <v-card class="">
            <img :alt="$t('Q&A')" width="100%" src="/qa.jpg" />
            <div
              v-if="firstpage['qa']['text'] != null"
              class="text-left"
              style="padding: 25px; height: 225px; text-align: left"
              v-html="firstpage['qa']['text'].substring(0, 500) + ' ...'"
            ></div>

            <v-btn
              :href="localePath('/qa/' + firstpage['qa']['url'])"
              color="primary"
              elevation="11"
              large
              style="
                background-color: #333333;
                margin-top: 10px;
                margin-bottom: 10px;
              "
              >{{ $t("readmore") }}</v-btn
            >
          </v-card>
        </v-col>
        <v-col cols="12" md="6" lg="6" sm="12" xs="12">
          <v-card class="">
            <img :alt="$t('NEWS')" width="100%" src="/news.jpg" height="110" />

            <div style="height: 225px; overflow-y: scroll; overflow-x: hidden">
              <v-list-item
                v-for="(item, index) in firstpage['service'][0][
                  'to_articlelimit'
                ]"
                style="width: 100%"
                :key="index"
              >
                <v-list-item-content>
                  <v-list-item-title :href="localePath('/article/' + item.url)"
                    >{{ item.name }}
                  </v-list-item-title>
                  <hr />
                </v-list-item-content>
              </v-list-item>
            </div>

            <v-btn
              :href="localePath('/news/')"
              color="primary"
              elevation="11"
              large
              style="
                background-color: #333333;
                margin-top: 10px;
                margin-bottom: 10px;
              "
              >{{ $t("readmore") }}</v-btn
            >
          </v-card>
        </v-col>
        <v-col cols="12" md="12" lg="12" sm="12" xs="12">
          <request page="firstpage"></request>
        </v-col>
        <v-col cols="12" md="12" lg="12" sm="12" xs="12">
          <template>
            <v-card class="mx-auto" max-width="100%" tile>
              <v-system-bar></v-system-bar>

              <v-list>
                <v-list-item link>
                  <v-list-item-content class="titeitem">
                    <v-list-item-title class="title" style="font-size: 1em">
                      {{ $t("blog") }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-divider></v-divider>
              <v-list nav dense>
                <v-row>
                  <template
                    v-for="(i, index) in firstpage['Blog'].to_articlelimit"
                  >
                    <v-col md="6"  cols="12" :key="index">
                      <v-card>
                        <v-list-item :href="localePath('/article/' + i.url)">
                          <v-list-item-avatar>
                            <v-img
                              :alt="i.name"
                              :title="i.name"
                              :src="
                               $storage + '/media/blog/' + i.id + '/thump/' + i.image
                              "
                            ></v-img>
                          </v-list-item-avatar>

                          <v-list-item-content style="text-align: center">
                            <v-list-item-title>{{ i.name }}</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </v-card>
                    </v-col>
                  </template>
                </v-row>
              </v-list>
            </v-card>
          </template>
        </v-col>
      </v-row>
    </v-container>

    <v-row>
      <v-card elevation="4" style="padding: 40px">
        <div v-html="firstpage['footer']['text']"></div>
      </v-card>
    </v-row>
  </div>
</template>

<script>
import request from "~/components/view/Request";

export default {
  components: {
    request,
  },

  async asyncData({ app, $axios, $i18n }) {
    try {
      let firstpage = await $axios.$get(app.$url + "firstpage", {
        params: {
          lang: app.i18n.locale,
        },
      });
      return {
        firstpage,
      };
    } catch (error) {}
  },
  head() {
    return {
      title: this.firstpage.setting.webname,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: this.firstpage.setting.description,
        },
        {
          hid: "keywords",
          name: "keywords",
          content: this.firstpage.setting.keywords,
        },
        { hid: "twitter:title", content: this.firstpage.setting.webname },
        { hid: "og:title", content: this.firstpage.setting.webname },
        { hid: "twitter:description", content: this.firstpage.setting.webname },
        { hid: "og:description", content: this.firstpage.setting.webname },
        { hid: "og:image", content: "https://tourismangels24.com/logo.png" },
        {
          hid: "twitter:image",
          content: "https://tourismangels24.com/logo.png",
        },
      ],
    };
  },
};
</script>

<style>
.titlems:after {
  width: 140px;
  height: 4px;
  left: 50%;
  margin-left: -70px;
  color: #1f1142;

  background: #333;
}
.vs-card__text {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.myitemsservice {
  text-align: center;
  width: 100%;
}
.owl-dots {
  z-index: 5000;
  position: relative;
  margin-top: -30px !important;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 55px;
  color: #35495e;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 25px 0;
}

.subtitle {
  font-weight: 300;
  font-size: 1.1rem;
  color: #526488;
  word-spacing: 2px;
  padding-bottom: 15px;
  max-width: 600px;
}

.subtitle a {
  font-weight: 500;
  color: inherit;
}

.links {
  padding-top: 15px;
  margin-bottom: 20px;
}

.content-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500px;
}

.plus {
  font-size: 2.5rem;
  margin: 15px;
  color: #35495e;
}

.h3 {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  margin: 10px;
}
.content__default {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 2%;
}
.content__default2 {
  background-color: #f4f4f4;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.text-center {
  text-align: center;
}
.mt-3 {
  margin-top: 20px;
}
.blubox {
  background-color: #0099d2;
  color: #ffffff;
  padding: 15px;
}
.blubox {
  background: rgb(0,172,200);
background: linear-gradient(0deg, rgba(0,200,250,0.7) 0%, rgba(0,100,250,1) 100%);

}
.sliderscars {
  height: 500px;
  background-size: cover;
}
.blueline {
  color: #333;
  font-size: 12px;
}
.myitem {
  text-align: center;
  font-size: 15px;
  color: #333;
  border-bottom: solid 1px #333;
  padding: 15px;
  margin-bottom: 10px;
}
.titeitem {
  background-image: url("/wall.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.smmfont {
  font-size: 15px;
}
iframe {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.h2finder * h2 {
  text-align: center !important;
}
@media only screen and (max-width: 600px) {
  .sliderscars {
    height: 150px;
    background-size: contain;
    margin-top: 100px;
  }
  .mtwidth100 {
    width: 100%;
  }
}
.text-sss {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}
.mythumpnail{
 
}
</style>
