<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 text-center animate__animated animate__delay-1s animate__zoomIn">
        <img src="/health.jpg"  width="60%"/>
      </div>
      <div class="col-sm-12 col-xs-12">
        <show-article :text="abouttext.text"></show-article>
      </div>
    </div>

    <div class="container"  >
      <form >
        <v-row>
          <v-col cols="6">
            <v-text-field v-model="data.name" required :label="$t('name')"></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field type="date" v-model="data.birthday" required :label="$t('birthday')"></v-text-field>
          </v-col>
          <v-col cols="6">

          </v-col>
        </v-row>
        <div class="row" >


          <div class="col-sm-6 col-xs-12">
            <label v-text="$t('Orgin Countery')"></label>
            <v-select :label="$t('selectcountry')+ '*'"  required  v-model="data.country" :options="country" ></v-select>

          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <v-text-field  :label="$t('Visa Type')" v-model="data.VisaModel" required -></v-text-field>


              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <v-text-field type="date" v-model="data.startvisa" required :label="$t('Entry Date')"></v-text-field>

              </div>
              <div class="col-sm-6 col-xs-12">
                <v-text-field type="date" v-model="data.endvisa" required :label="$t('Return Date')"></v-text-field>

              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <v-text-field type='number' v-model="data.passengers" required :label="$t('Number of passengers')" ></v-text-field>

          </div>
          <div class="col-sm-3 col-xs-12">
            <v-text-field type='number' v-model="data.kids" required :label="$t('Number of Kids (Under five years)')" ></v-text-field>

          </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 text-center">
          <v-btn type="submit" class="btn btn-success" >{{ $t('Send Request') }}</v-btn>
        </div>
      </form>

    </div>

  </div>
</template>

<script>
import ShowArticle from "~/components/view/articleshow";
import Request from "~/components/view/Request";

export default {
  name: "terms",
  components: {Request, ShowArticle},
  data() {
    return {
      abouttext: {},
      data:{
        name:null,
        orgincountry:null,
        birthday:null,
        VisaModel:null,
        startvisa:null,
        endvisa:null,
        passengers:null,
        kids:null,

      },
      about: {
        en: 'Insuranceen',
        fa: 'Insurancefa',
        ar: 'Insurancear',
        tr: 'Insurancetr',
      },
    }
  },
  beforeMount() {
    this.$i18n.locale = this.$route.params.lang;

    let self = this;
    self.$axios.get(this.$url + 'article/' + this.about[this.$i18n.locale])
        .then(function (res) {
          self.abouttext = res.data.data;
        });

  },
  head () {
    return {
      title: this.abouttext.name,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content:this.abouttext.name },
        { hid: 'keywords', name: 'keywords', content:this.abouttext.name },
      ]
    }
  }

}
</script>

<style scoped>

</style>
