<template>
  <div style="margin-top: 40px;">
    <div class="pa-3">
      <div class="pa-3"  style="width: 100%; text-align: center;">

          <div >

          </div>
            <v-card>
              <img  :src="$storage+'/filemanager/Blog/29/1603721704.png'" class="mt-5" width="20%">
              <div>
                <v-btn class="btn btn-secondary w-100" href="http://macremedy24.com/">{{ $t('MacRemedy Portal') }}</v-btn>

              </div>

              <showarticle  :url="arricle[$i18n.locale]"></showarticle>

            </v-card>



      </div>

    </div>
  </div>
</template>

<script>
import Showarticle from "~/components/view/showarticle";
export default {
  name: "macremedy",
  data(){
    return{
      arricle:{
        fa:'Mac_Remedy',
        en:'Mac_Remedyen',
        tr:'Mac_Remedytr',
        ar:'Mac_Remedyar',

      }
    }
  },
  components: {Showarticle},
  beforeMount() {

  }

}
</script>

<style scoped>

</style>
