<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <show-article :text="abouttext.text"></show-article>
      </div>

    </div>


  </div>
</template>

<script>
import ShowArticle from "~/components/view/articleshow";

export default {
  name: "terms",
  components: {ShowArticle},
  data() {
    return {
      abouttext: {},
      data:{
        name:null,
        email:null,
        whatsapp:null,
        description:null
      },
      about: {
        en: 'priceen',
        fa: 'pricefa',
        ar: 'pricear',
        tr: 'pricetr',
      },
    }
  },
  beforeMount() {
   // this.$i18n.locale = this.$route.params.lang;

    let self = this;
    self.$axios.get(this.$url + 'article/' + this.about[this.$i18n.locale])
        .then(function (res) {
          self.abouttext = res.data.data;
        });

  },
  head () {
    return {
      title: this.abouttext.name,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content:this.abouttext.name },
        { hid: 'keywords', name: 'keywords', content:this.abouttext.name },
      ]
    }
  }

}
</script>

<style scoped>

</style>
