<template>
  <div class="container-fluid mt-3">
    <blog-show :url="servicegroup[$i18n.locale]" ></blog-show>
  </div>
</template>

<script>
import BlogShow from "~/components/view/BlogShow";
export default {
  name: "services",
  components: {BlogShow},
  data(){
    return{
      servicegroup:{
        en:'ServicesEn',
        fa:'ServicesFa',
        ar:'ServicesAr',
        tr:'ServicesTr',
      },
    }
  },
  beforeMount() {
   // this.$i18n.locale = this.$route.params.lang;

  }
}
</script>

<style scoped>
.imgservice{height: 200px; width: 100%; margin-top: 20px;}
.myhover:hover{
  transform: scale(1.1,1.1);
}
</style>
