<template>
      <div class="container-fluid mt-3">

        <BlogShowMaster :url="servicegroup[$i18n.locale]" ></BlogShowMaster>
      </div>
</template>

<script>
    import BlogShowMaster from "~/components/view/BlogShowTour";
    export default {
        name: "services",
      components: {BlogShowMaster},
      data(){
          return{
            servicegroup:{
              en:'touren',
              fa:'tourfa',
              ar:'tourar',
              tr:'tourtr',
            },
          }
        },
      beforeMount() {

      }
    }
</script>

<style scoped>

</style>
