<template>
  <v-container class="mt-4" style="margin-top: 40px;">
    <h1 class="text-center" v-text="$t('VISA')"></h1>
    <hr>
    <showarticle url='VISA'> </showarticle>
    <hr>
    <div class="container"  >
      <form  @submit.prevent="sendrequest">
        <v-row>
          <v-col cols="6">
            <v-text-field v-model="data.name" required :label="$t('name')"></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field type="date" v-model="data.birthday" required :label="$t('birthday')"></v-text-field>
          </v-col>
          <v-col cols="6">

          </v-col>
        </v-row>
        <div class="row" >


          <div class="col-sm-6 col-xs-12">
            <v-text-field  required type="email" :label="$t('country')+ '*'" v-model="data.orgincountry" :placeholder="$t('country')"></v-text-field>


          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-12 col-xs-12">
                <v-text-field required  :label="$t('Visa Type')" v-model="data.VisaModel" required -></v-text-field>


              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-6 col-xs-12">
                <v-text-field required  type="date" v-model="data.startvisa" required :label="$t('Entry Date')"></v-text-field>

              </div>
              <div class="col-sm-6 col-xs-12">
                <v-text-field required type="date" v-model="data.endvisa" required :label="$t('Return Date')"></v-text-field>

              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <v-text-field required  type='number' v-model="data.passengers"  :label="$t('Number of passengers')" ></v-text-field>

          </div>
          <div class="col-sm-3 col-xs-12">
            <v-text-field  type='number' v-model="data.kids"  :label="$t('Number of Kids (Under five years)')" ></v-text-field>

          </div>
        </div>
        <div class="form-group col-sm-12 col-xs-12 text-center">
          <v-btn type="submit" class="btn btn-success" >{{ $t('Send Request') }}</v-btn>
        </div>
      </form>
      <v-alert
        v-if="backdata!=null"
        prominent
        type="success"
      >{{ backdata }}</v-alert>
    </div>


  </v-container>
</template>

<script>
import json from '~/locales/listcountry.json';

import showarticle from '~/components/view/showarticle';
export default {
  data(){
    return{
      backdata:null,
      country:json,
      data:{
        name:null,
        orgincountry:null,
        birthday:null,
        VisaModel:null,
        startvisa:null,
        endvisa:null,
        passengers:null,
        kids:null,
        mode:'visa',

      }
    }
  },
  methods:{
    resetfomt(){
      this.data={
        name:null,
        orgincountry:null,
        birthday:null,
        VisaModel:null,
        startvisa:null,
        endvisa:null,
        passengers:null,
        kids:null,
        mode:'visa',

      }
    },
    sendrequest(){
      alert('fiuc');
      let that=this;
      that.$axios.post(this.$url+'comment',this.data)
        .then(function (res) {
          that.backdata=that.$t('Request  Sending Success');
          that.resetfomt();
        }) .catch((error) => {
        that.error=error.errors;
      });
    },
  },
  components:{
    showarticle
  },
}
</script>

<style>

</style>
