<template>
  <div class="container mt-3" style="margin-top: 100px;" >
    <h1>>> {{ article.name }}</h1>
    <v-row >
      <v-col cols="4" vs-type="flex" vs-justify="center" vs-align="center" w="4"  v-for="(item,index) in article.to_article" :key="index">
        <cardbox2 :item="item"></cardbox2>
      </v-col>

    </v-row>
  </div>
</template>

<script>
import cardbox2 from "~/components/view/cardbox2";

import ShowArticle from "~/components/view/articleshow";
export default {
  name: "index",
  components: {ShowArticle,cardbox2},
  data(){
    return{
      //article:{},
      health:{
        name:null,
        orgincountry:null,
        taget:null,
        email:null,
        service:null,
        whatsapp:null,
        comment:null,

      },
    }
  },
  async asyncData({ app,params,$axios ,$i18n }) {
    try {

      let  url=encodeURI(app.$url+'tag/'+params.id);
      let article = await  $axios.$get(url,{
        params: {
          lang:app.i18n.locale
        }
      })
      return {
        article
      }
    }

    catch(error){
    }

  },

  head () {
    return {
      // title: this.article.name,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: 'description', content:this.article.name },
        { hid: 'keywords', name: 'keywords', content:this.article.name },
        { hid: 'twitter:title',  content:this.article.name },
        { hid: 'og:title',  content:this.article.name },
        { hid: 'twitter:description',  content:this.article.name },
        { hid: 'og:description',content:this.article.name },


      ]
    }
  }
}
</script>

<style scoped>

</style>
