<template>
  <div class="container mt-3" style="margin-top: 100px;" :dir="$t('dir')" >
    <div style="width: 100%;">
      <h1 class="text-center" style="text-align: center;" v-text="article.data.name"></h1>
      <hr>
    </div>
    <div v-html="article.data.text"></div>
    <div class="mt-3" style="margin-top: 100px;">
      <template v-for="i in article.data.tag">
        <v-chip :to="'/tagarticle/'+i.name">{{ i.name }}</v-chip>
      </template>
    </div>
    <form @submit.prevent="sendrequest" >
      <div style="background-color: red; color: #fff;">Send Your Question</div>

      <v-text-field required v-model="send.name" class="ma-1"  :label="$t('subject')" :placeholder="$t('subject')"></v-text-field>
      <br/>
      <v-text-field  required type="email" v-model="send.mail"  class="ma-1" :label="$t('mail')"></v-text-field>
      <v-textarea  required v-model="send.text"  class="ma-1"  :label="$t('text')"></v-textarea>
      <v-btn type="submit">{{ $t('send') }}</v-btn>

      <v-alert
        v-if="backdata!=null"
        prominent
        type="success"
      >{{ backdata }}</v-alert>
    </form>

  </div>
</template>

<script>
import ShowArticle from "~/components/view/articleshows";
export default {
  name: "index",
  components: {ShowArticle},
  data(){
    return{
      backdata:null,

      send:{
        name:null,
        mail:null,
        text:null,
        mode:'qa',

      }
    }
  },

  methods: {
    resetfomt() {
      this.send = {
        name: null,
        mail: null,
        text: null,
        mode: 'qa',

      }
    },
    sendrequest() {
      let that = this;
      that.$axios.post(this.$url + 'comment', this.send)
        .then(function (res) {
          that.backdata = that.$t('Request  Sending Success');
          that.resetfomt();
        }).catch((error) => {
        that.error = error.errors;
      });
    }
  },
    async asyncData({ app,params,$axios ,$i18n }) {
      try {
        let  url=encodeURI(app.$url+'article/'+params.url);
        let article = await  $axios.$get(url,{
          params: {
            lang:app.i18n.locale
          }
        })
        return {
          article
        }
      }

      catch(error){
      }

    },

    head () {
      return {
        title: this.article.data.name,
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          { hid: 'description', name: 'description', content:this.article.data.description },
          { hid: 'keywords', name: 'keywords', content:this.article.data.keywords },
          { hid: 'twitter:title',  content:this.article.data.name },
          { hid: 'og:title',  content:this.article.data.name },
          { hid: 'twitter:description',  content:this.article.data.description },
          { hid: 'og:description',content:this.article.data.keywords },
          { hid: 'og:image',content:this.$storage+'/media/Articles/'+this.article.data.id+'/thump/'+this.article.data.image },
          { hid: 'twitter:image',content:this.$storage+'/media/Articles/'+this.article.data.id+'/thump/'+this.article.data.image },

        ]
      }
    }
  }
</script>

<style scoped>

</style>
